# 빅분기 기출 변형 #6

In [1]:
# 여러줄 출력 가능
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# 1 유형

DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_1.csv   
데이터 출처 : https://bigdata-119.kr/  
데이터 설명 : 소방신고별 신고시각과 출동시각  
데이터 컬럼 설명 : 신고일자 (yyyymmdd) / 신고시각 (HHMMSS , 00시 , 00분의 경우 등 생략)

### 1-1) 각 구급 보고서 별 출동시각과 신고시각의 차이를 ‘소요시간’ 컬럼을 만들고 초(sec)단위로 구하고 소방서명 별 소요시간의 평균을 오름차순으로 정렬 했을때 3번째로 작은 소요시간의 값과 소방서명을 출력하라

In [48]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_1.csv')
df.head(5)

,구급보고서번호,소방서명,환자증상구분명1,신고일자,신고시각,출동일자,출동시각,환자직업명,사고발생장소
0,20211122103M01526,중랑소방서,심계항진,20210330,104800,20210330,105042,무직,집
1,20211111105M00771,노원소방서,복통,20210412,225600,20210412,225827,기타,집
2,20211115104M00864,서초소방서,심계항진,20210303,194100,20210303,194500,직장인,상업시설
3,20211113107M01869,마포소방서,고열,20211225,235400,20211226,331,유아,집
4,20211118102M05820,강동소방서,고열,20211019,12100,20211019,12322,무직,집

In [49]:
df.info()
df.nunique()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2762 entries, 0 to 2761
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   구급보고서번호   2762 non-null   object
 1   소방서명      2762 non-null   object
 2   환자증상구분명1  2762 non-null   object
 3   신고일자      2762 non-null   int64
 4   신고시각      2762 non-null   int64
 5   출동일자      2762 non-null   int64
 6   출동시각      2762 non-null   int64
 7   환자직업명     2762 non-null   object
 8   사고발생장소    2762 non-null   object
dtypes: int64(4), object(5)
memory usage: 194.3+ KB

구급보고서번호     2762
소방서명          24
환자증상구분명1      39
신고일자         365
신고시각        1148
출동일자         365
출동시각        2372
환자직업명          8
사고발생장소        13
dtype: int64

구급보고서번호     0
소방서명        0
환자증상구분명1    0
신고일자        0
신고시각        0
출동일자        0
출동시각        0
환자직업명       0
사고발생장소      0
dtype: int64

In [50]:
df[:1]

,구급보고서번호,소방서명,환자증상구분명1,신고일자,신고시각,출동일자,출동시각,환자직업명,사고발생장소
0,20211122103M01526,중랑소방서,심계항진,20210330,104800,20210330,105042,무직,집

In [72]:
st_t = df.groupby('구급보고서번호', as_index=True)['출동시각'].mean()
st_t[:1]
hs_t = df.groupby('구급보고서번호', as_index=True)['신고시각'].mean()
hs_t[:1]

diff = (hs_t - st_t).reset_index()
diff.columns = ['구급보고서번호', '소요시간']
diff[:1]

df_r = df.merge(diff, on='구급보고서번호', how='left')
df_r[:1]

구급보고서번호
20211100106M00273    83141.0
Name: 출동시각, dtype: float64

구급보고서번호
20211100106M00273    82700.0
Name: 신고시각, dtype: float64

             구급보고서번호   소요시간
0  20211100106M00273 -441.0

,구급보고서번호,소방서명,환자증상구분명1,신고일자,신고시각,출동일자,출동시각,환자직업명,사고발생장소,소요시간
0,20211122103M01526,중랑소방서,심계항진,20210330,104800,20210330,105042,무직,집,-242.0

In [73]:
result = df_r.groupby('소방서명')['소요시간'].mean().sort_values().reset_index()
result

      소방서명          소요시간
0    강동소방서  11390.464646
1    동작소방서  12309.086022
2    성동소방서  13578.910448
3    노원소방서  15767.179310
4   서대문소방서  17471.924528
5    은평소방서  17763.503546
6    강북소방서  18678.551020
7    종로소방서  18883.569767
8   영등포소방서  20292.589286
9    양천소방서  20915.020833
10   송파소방서  21392.025424
11   도봉소방서  22382.757282
12  동대문소방서  22723.138614
13   용산소방서  22830.239437
14   관악소방서  23061.906250
15   강서소방서  23425.873418
16   광진소방서  23719.397727
17   구로소방서  24618.097345
18   강남소방서  25151.400000
19   중부소방서  25196.800000
20   마포소방서  27073.525547
21   중랑소방서  28524.631148
22   성북소방서  29834.339450
23   서초소방서  31740.747573

- 틀려서 다시, 시간은 12, 60단위 이므로 10진법 계산 x, 날짜타입으로 바꿔서 계산

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2762 entries, 0 to 2761
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   구급보고서번호   2762 non-null   object
 1   소방서명      2762 non-null   object
 2   환자증상구분명1  2762 non-null   object
 3   신고일자      2762 non-null   int64
 4   신고시각      2762 non-null   int64
 5   출동일자      2762 non-null   int64
 6   출동시각      2762 non-null   int64
 7   환자직업명     2762 non-null   object
 8   사고발생장소    2762 non-null   object
dtypes: int64(4), object(5)
memory usage: 194.3+ KB

In [98]:
hs_t = pd.to_datetime(df['신고일자'].astype('str') + df['신고시각'].astype('str').str.zfill(6))
hs_t[:1]
st_t = pd.to_datetime(df['출동일자'].astype('str') + df['출동시각'].astype('str').str.zfill(6))
st_t[:1]
diff = (st_t - hs_t).dt.total_seconds()
diff[:1]
df['소요시간'] = diff
df[:1]

0   2021-03-30 10:48:00
dtype: datetime64[ns]

0   2021-03-30 10:50:42
dtype: datetime64[ns]

0    162.0
dtype: float64

,구급보고서번호,소방서명,환자증상구분명1,신고일자,신고시각,출동일자,출동시각,환자직업명,사고발생장소,소요시간
0,20211122103M01526,중랑소방서,심계항진,20210330,104800,20210330,105042,무직,집,162.0

In [104]:
result = df.groupby('소방서명')['소요시간'].mean().sort_values()
result
result.iloc[[2]]

소방서명
서초소방서     164.883495
서대문소방서    165.056604
종로소방서     175.500000
광진소방서     175.602273
노원소방서     179.579310
강동소방서     181.656566
동작소방서     185.107527
송파소방서     189.330508
구로소방서     189.513274
은평소방서     191.390071
양천소방서     192.201389
마포소방서     196.547445
강남소방서     196.933333
강서소방서     199.696203
중랑소방서     204.877049
성북소방서     205.293578
도봉소방서     207.145631
성동소방서     207.358209
중부소방서     207.563636
관악소방서     209.843750
강북소방서     212.061224
동대문소방서    228.148515
용산소방서     237.366197
영등포소방서    258.839286
Name: 소요시간, dtype: float64

소방서명
종로소방서    175.5
Name: 소요시간, dtype: float64

In [ ]:
df['소요시각'] = (
                pd.to_datetime(
                    df['출동일자'].astype('str') + df['출동시각'].astype('str').str.zfill(6)
                )

                - 
    
                pd.to_datetime(
                    df['신고일자'].astype('str') + df['신고시각'].astype('str').str.zfill(6)
                )
                ).dt.total_seconds()


result = df.groupby(['소방서명'])['소요시각'].mean().sort_values().reset_index().iloc[2].values
print(result)

DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_2.csv   
데이터 출처 :https://kess.kedi.re.kr/contents/dataset  
국내 학교 및 학급 인원 수

### 1-2) 학교 세부유형이 일반중학교인 학교들 중 일반중학교 숫자가 2번째로 많은 시도의 일반중학교 데이터만 필터하여 해당 시도의 교원 한명 당 맡은 학생수가 가장 많은 학교를 찾아서 해당 학교의 교원수를 출력하라

In [169]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_2.csv')
df.head(5)

               학교명  시도  학교세부유형  일반학급_학생수_계  교원수_총계_계
0  서울대학교사범대학부설고등학교  서울  일반고등학교         689        73
1           가락고등학교  서울  일반고등학교         765        70
2           개포고등학교  서울  일반고등학교         684        69
3           경기고등학교  서울  일반고등학교        1047        96
4           경동고등학교  서울  일반고등학교         529        58

In [170]:
df.info()
df.isnull().sum()
df.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4960 entries, 0 to 4959
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   학교명         4960 non-null   object
 1   시도          4960 non-null   object
 2   학교세부유형      4960 non-null   object
 3   일반학급_학생수_계  4960 non-null   int64
 4   교원수_총계_계    4960 non-null   int64
dtypes: int64(2), object(3)
memory usage: 193.9+ KB

학교명           0
시도            0
학교세부유형        0
일반학급_학생수_계    0
교원수_총계_계      0
dtype: int64

학교명           4446
시도              17
학교세부유형           2
일반학급_학생수_계    1145
교원수_총계_계       103
dtype: int64

In [171]:
# df['학교명'].value_counts()

In [172]:
df['학교세부유형'].value_counts()

학교세부유형
일반중학교     3260
일반고등학교    1700
Name: count, dtype: int64

In [173]:
ct_name = df[df['학교세부유형'] == '일반중학교']['시도'].value_counts().index[1]
ct_name

'서울'

In [185]:
df_ct = df[df['시도'] == ct_name]
df_ct[:1]

               학교명  시도  학교세부유형  일반학급_학생수_계  교원수_총계_계
0  서울대학교사범대학부설고등학교  서울  일반고등학교         689        73

In [176]:
df_ct.dtypes

학교명           object
시도            object
학교세부유형        object
일반학급_학생수_계     int64
교원수_총계_계       int64
dtype: object

In [189]:
df_ct = df_ct.copy()
df_ct['담당비율'] = (df_ct['일반학급_학생수_계'] / df_ct['교원수_총계_계'])
df_ct[:3]

               학교명  시도  학교세부유형  일반학급_학생수_계  교원수_총계_계       담당비율
0  서울대학교사범대학부설고등학교  서울  일반고등학교         689        73   9.438356
1           가락고등학교  서울  일반고등학교         765        70  10.928571
2           개포고등학교  서울  일반고등학교         684        69   9.913043

In [216]:
df_ct.sort_values('담당비율', ascending=False).iloc[0]['교원수_총계_계']

33

In [209]:
import pandas as pd

# 데이터 불러오기
# df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p2_1.csv')

# 1. '일반중학교'만 필터링
mid_df = df[df['학교세부유형'] == '일반중학교']
mid_df[:2]

# 2. 시도별 일반중학교 수 계산
mid_counts = mid_df['시도'].value_counts()
mid_counts[:2]

# 3. 일반중학교 수가 두 번째로 많은 시도명
second_sido = mid_counts.index[1]
second_sido[:2]

# 4. 해당 시도의 일반중학교 필터링
target_df = mid_df[mid_df['시도'] == second_sido]
target_df[:2]

# 5. 교원 한 명당 학생 수 계산 컬럼 생성
target_df = target_df.copy()
target_df['학생당_교원비율'] = target_df['일반학급_학생수_계'] / target_df['교원수_총계_계']
target_df[:2]

# 6. 학생당 교원 비율이 가장 높은 학교의 교원수 출력
result = target_df.loc[target_df['학생당_교원비율'].idxmax(), '교원수_총계_계']
print(result)

       학교명  시도 학교세부유형  일반학급_학생수_계  교원수_총계_계
230  동원중학교  서울  일반중학교         379        36
231  면목중학교  서울  일반중학교         462        42

시도
경기    659
서울    387
Name: count, dtype: int64

'서울'

       학교명  시도 학교세부유형  일반학급_학생수_계  교원수_총계_계
230  동원중학교  서울  일반중학교         379        36
231  면목중학교  서울  일반중학교         462        42

       학교명  시도 학교세부유형  일반학급_학생수_계  교원수_총계_계   학생당_교원비율
230  동원중학교  서울  일반중학교         379        36  10.527778
231  면목중학교  서울  일반중학교         462        42  11.000000

33

In [ ]:
city = df[df['학교세부유형'] =='일반중학교'].시도.value_counts().index[1]
filter_df = df[(df['학교세부유형'] =='일반중학교') & (df['시도'] ==city)].reset_index(drop=True)
filter_df.loc[:,'ratio'] = (filter_df['일반학급_학생수_계'] / filter_df['교원수_총계_계']).values
filter_df = filter_df.sort_values('ratio').dropna()
result= filter_df['교원수_총계_계'].values[-1]
print(result)

DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_3.csv   
5대범죄 발생현황 : https://www.data.go.kr/data/15085721/fileData.do#layer_data_infomation  
& 후처리

### 1-3) 5대 범죄(절도, 사기, 배임, 방화, 폭행)의 월별 총 발생건수를 총범죄수라고 표현하자. 18,19년의 각각 분기별 총범죄수의 월평균 값을 구했을때 최대값을 가지는 년도와 분기를 구하고 해당 분기의 최댓값의 사기가 발생한 월의 사기 발생건수를 출력하라(1분기:1,2,3월 / 2분기 : 4,5,6월 / 3분기 7,8,9월 / 4분기 10,11,12월 , 1분기 월평균 : 1,2,3월의 총범죄수 평균)

In [217]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_3.csv')
df.head(5)

       범죄분류     절도     사기   배임   방화     폭행
0  2018년_1월  13280  25318  656  143  12186
1  2018년_2월  12504  19159  403  135  12087
2  2018년_3월  14733  24509  471  148  13841
3  2018년_4월  14781  23147  414  135  13973
4  2018년_5월  15988  23584  451  127  14117

In [223]:
df.info()
df.isnull().sum()
df.nunique()
df.describe()
df[:1]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   범죄분류    24 non-null     object
 1   절도      24 non-null     int64
 2   사기      24 non-null     int64
 3   배임      24 non-null     int64
 4   방화      24 non-null     int64
 5   폭행      24 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.3+ KB

범죄분류    0
절도      0
사기      0
배임      0
방화      0
폭행      0
dtype: int64

범죄분류    24
절도      23
사기      24
배임      24
방화      21
폭행      24
dtype: int64

                 절도            사기          배임          방화            폭행
count     24.000000     24.000000   24.000000   24.000000     24.000000
mean   15211.958333  24673.291667  491.000000  117.625000  13600.625000
std     1457.947321   2282.367735   78.966696   15.915026   1257.796514
min    12504.000000  19159.000000  360.000000   91.000000  10893.000000
25%    14207.000000  23110.500000  446.750000  105.500000  12336.000000
50%    15524.500000  24554.000000  474.500000  114.000000  13873.500000
75%    16367.000000  26476.750000  525.000000  130.250000  14615.250000
max    17333.000000  28432.000000  678.000000  148.000000  15285.000000

       범죄분류     절도     사기   배임   방화     폭행
0  2018년_1월  13280  25318  656  143  12186

In [237]:
df['총범죄수'] = df['절도'] + df['사기'] + df['배임'] + df['방화'] + df['폭행']
df[:1]

       범죄분류     절도     사기   배임   방화     폭행   총범죄수
0  2018년_1월  13280  25318  656  143  12186  51583

In [257]:
year = df['범죄분류'].str.split('_').str[0].str.extract(r'(\d+)')[0]
year
month = df['범죄분류'].str.split('_').str[1].str.extract(r'(\d+)')[0].str.zfill(2)
month

0     2018
1     2018
2     2018
3     2018
4     2018
5     2018
6     2018
7     2018
8     2018
9     2018
10    2018
11    2018
12    2019
13    2019
14    2019
15    2019
16    2019
17    2019
18    2019
19    2019
20    2019
21    2019
22    2019
23    2019
Name: 0, dtype: object

0     01
1     02
2     03
3     04
4     05
5     06
6     07
7     08
8     09
9     10
10    11
11    12
12    01
13    02
14    03
15    04
16    05
17    06
18    07
19    08
20    09
21    10
22    11
23    12
Name: 0, dtype: object

In [262]:
df['범죄분류'] = pd.to_datetime((year + '-' + month + '-' + '01'))
df.dtypes

범죄분류    datetime64[ns]
절도               int64
사기               int64
배임               int64
방화               int64
폭행               int64
총범죄수             int64
dtype: object

In [286]:
df['year'] = df['범죄분류'].dt.year
df['month'] = df['범죄분류'].dt.month
df[:1]
df.dtypes

        범죄분류     절도     사기   배임   방화     폭행   총범죄수  year  month  분기
0 2018-01-01  13280  25318  656  143  12186  51583  2018      1   1

범죄분류     datetime64[ns]
절도                int64
사기                int64
배임                int64
방화                int64
폭행                int64
총범죄수              int64
year              int32
month             int32
분기                int64
dtype: object

In [298]:
for x in df['month']:
    if x in range(1,4):
        x, 1
    if x in range(4,7):
        x, 2
    if x in range(7,10):
        x, 3
    if x in range(10,13):
        x, 4

(1, 1)

(2, 1)

(3, 1)

(4, 2)

(5, 2)

(6, 2)

(7, 3)

(8, 3)

(9, 3)

(10, 4)

(11, 4)

(12, 4)

(1, 1)

(2, 1)

(3, 1)

(4, 2)

(5, 2)

(6, 2)

(7, 3)

(8, 3)

(9, 3)

(10, 4)

(11, 4)

(12, 4)

In [299]:
q = [1 if x in range(1,4) else 2 if x in range(4,7) else 3 if x in range(7,10) else 4 if x in range(10,13) else 0 for x in df['month']]
q

[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4]

In [297]:
quarters = [
    1 if x in range(1, 4) else
    2 if x in range(4, 7) else
    3 if x in range(7, 10) else
    4
    for x in df['month']
]
df['분기'] = quarters
df[:1]

        범죄분류     절도     사기   배임   방화     폭행   총범죄수  year  month  분기
0 2018-01-01  13280  25318  656  143  12186  51583  2018      1   1

In [308]:
mdm = df.groupby(['분기', 'year'])['총범죄수'].mean()/3
mdm
event = mdm.idxmax()
event

분기  year
1   2018    16619.222222
    2019    17712.444444
2   2018    17820.777778
    2019    19479.444444
3   2018    18487.222222
    2019    19444.888889
4   2018    16827.222222
    2019    17860.777778
Name: 총범죄수, dtype: float64

(2, 2019)

In [331]:
ev_mon = df[(df['분기'] == 2) & (df['year'] == 2019)]
m_mon = df.loc[ev_mon['사기'].idxmax()]['사기']
m_mon

27766

In [332]:
df['총범죄수'] = df['절도']  +df['사기']  +df['배임']  +df['방화']  +df['폭행']
df['분기'] = [x+'_'+str(y) for x in ['2018','2019'] for y in range(1,5) for z in range(3)]

max_ = df.groupby(['분기'])['총범죄수'].mean().sort_values().index[-1] # '2019_02'
result = df[df.분기 ==max_].사기.max()
print(result)

27766

# 2 유형

건강 상태 분류문제 : https://www.kaggle.com/datasets/alphiree/cardiovascular-diseases-risk-prediction-dataset  
train = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/ep6_p2_train.csv   
test = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/ep6_p2_test.csv  

평가지표는 f1score  
  
예측 변수 General_Health, test.csv에 대해 ID별로 General_Health 값을 예측하여 제출,   
제출 데이터 컬럼은 ID와 General_Health 두개만 존재해야함.

In [360]:
import pandas as pd
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/ep6_p2_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/ep6_p2_test.csv')

display(train.head(2))
test.head(2)

,ID,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,ID_1473,Good,Within the past 2 years,Yes,No,No,No,No,No,Yes,Female,55-59,168.0,77.11,27.44,No,1.0,12.0,4.0,4.0
1,ID_2045,Good,Within the past 2 years,Yes,No,No,No,No,No,No,Female,40-44,152.0,58.97,25.39,No,0.0,8.0,16.0,8.0

,ID,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,ID_14547,Within the past year,Yes,No,No,No,No,No,No,Male,35-39,180.0,81.65,25.10,No,15.0,8.0,25.0,12.0
1,ID_26,5 or more years ago,No,No,Yes,No,No,No,No,Male,60-64,183.0,79.38,23.73,No,1.0,4.0,4.0,4.0

In [344]:
# f1score : 분류
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [354]:
# help(f1_score) # F1 = 2 * (precision * recall) / (precision + recall)

In [357]:
train.isnull().sum()
test.isnull().sum()

ID                              0
General_Health                  0
Checkup                         0
Exercise                        0
Heart_Disease                   0
Skin_Cancer                     0
Other_Cancer                    0
Depression                      0
Diabetes                        0
Arthritis                       0
Sex                             0
Age_Category                    0
Height_(cm)                     0
Weight_(kg)                     0
BMI                             0
Smoking_History                 0
Alcohol_Consumption             0
Fruit_Consumption               0
Green_Vegetables_Consumption    0
FriedPotato_Consumption         0
dtype: int64

ID                              0
Checkup                         0
Exercise                        0
Heart_Disease                   0
Skin_Cancer                     0
Other_Cancer                    0
Depression                      0
Diabetes                        0
Arthritis                       0
Sex                             0
Age_Category                    0
Height_(cm)                     0
Weight_(kg)                     0
BMI                             0
Smoking_History                 0
Alcohol_Consumption             0
Fruit_Consumption               0
Green_Vegetables_Consumption    0
FriedPotato_Consumption         0
dtype: int64

In [358]:
train.nunique()
test.nunique()

ID                              11230
General_Health                      3
Checkup                             5
Exercise                            2
Heart_Disease                       2
Skin_Cancer                         2
Other_Cancer                        2
Depression                          2
Diabetes                            4
Arthritis                           2
Sex                                 2
Age_Category                       13
Height_(cm)                        57
Weight_(kg)                       304
BMI                              1629
Smoking_History                     2
Alcohol_Consumption                30
Fruit_Consumption                  49
Green_Vegetables_Consumption       47
FriedPotato_Consumption            37
dtype: int64

ID                              4813
Checkup                            5
Exercise                           2
Heart_Disease                      2
Skin_Cancer                        2
Other_Cancer                       2
Depression                         2
Diabetes                           4
Arthritis                          2
Sex                                2
Age_Category                      13
Height_(cm)                       44
Weight_(kg)                      241
BMI                             1136
Smoking_History                    2
Alcohol_Consumption               29
Fruit_Consumption                 36
Green_Vegetables_Consumption      34
FriedPotato_Consumption           29
dtype: int64

In [356]:
train.info()
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11230 entries, 0 to 11229
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            11230 non-null  object
 1   General_Health                11230 non-null  object
 2   Checkup                       11230 non-null  object
 3   Exercise                      11230 non-null  object
 4   Heart_Disease                 11230 non-null  object
 5   Skin_Cancer                   11230 non-null  object
 6   Other_Cancer                  11230 non-null  object
 7   Depression                    11230 non-null  object
 8   Diabetes                      11230 non-null  object
 9   Arthritis                     11230 non-null  object
 10  Sex                           11230 non-null  object
 11  Age_Category                  11230 non-null  object
 12  Height_(cm)                   11230 non-null  float64
 13  Weight_(kg)                   11230 non-null  float64
 14  BMI                           11230 non-null  float64
 15  Smoking_History               11230 non-null  object
 16  Alcohol_Consumption           11230 non-null  float64
 17  Fruit_Consumption             11230 non-null  float64
 18  Green_Vegetables_Consumption  11230 non-null  float64
 19  FriedPotato_Consumption       11230 non-null  float64
dtypes: float64(7), object(13)
memory usage: 1.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4813 entries, 0 to 4812
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            4813 non-null   object
 1   Checkup                       4813 non-null   object
 2   Exercise                      4813 non-null   object
 3   Heart_Disease                 4813 non-null   object
 4   Skin_Cancer                   4813 non-null   object
 5   Other_Cancer                  4813 non-null   object
 6   Depression                    4813 non-null   object
 7   Diabetes                      4813 non-null   object
 8   Arthritis                     4813 non-null   object
 9   Sex                           4813 non-null   object
 10  Age_Category                  4813 non-null   object
 11  Height_(cm)                   4813 non-null   float64
 12  Weight_(kg)                   4813 non-null   float64
 13  BMI                           4813 non-null   float64
 14  Smoking_History               4813 non-null   object
 15  Alcohol_Consumption           4813 non-null   float64
 16  Fruit_Consumption             4813 non-null   float64
 17  Green_Vegetables_Consumption  4813 non-null   float64
 18  FriedPotato_Consumption       4813 non-null   float64
dtypes: float64(7), object(12)
memory usage: 714.6+ KB

In [350]:
train[:1]
test[:1]

,ID,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,ID_1473,Good,Within the past 2 years,Yes,No,No,No,No,No,Yes,Female,55-59,168.0,77.11,27.44,No,1.0,12.0,4.0,4.0

,ID,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,ID_14547,Within the past year,Yes,No,No,No,No,No,No,Male,35-39,180.0,81.65,25.1,No,15.0,8.0,25.0,12.0

In [363]:
y_train = train['General_Health']
x_train = train.drop(['General_Health', 'ID'], axis=1)
x_test = test.drop('ID', axis=1)
y_train.shape
x_train.shape
x_test.shape

(11230,)

(11230, 18)

(4813, 18)

### 전처리 순서 : 1) 결측치 대체, 2) 이상치 제거 or 대체, 3) 수치형 스케일링, 4) 범주형 원핫인코딩
- 2) 생략
- x_train, x_test 통합 후 전처리

In [365]:
total = pd.concat([x_train, x_test], ignore_index=True)
total

,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,Within the past 2 years,Yes,No,No,No,No,No,Yes,Female,55-59,168.0,77.11,27.44,No,1.0,12.0,4.0,4.0
1,Within the past 2 years,Yes,No,No,No,No,No,No,Female,40-44,152.0,58.97,25.39,No,0.0,8.0,16.0,8.0
2,Within the past year,Yes,No,No,No,Yes,No,Yes,Female,65-69,170.0,65.77,22.71,Yes,12.0,30.0,2.0,0.0
3,Within the past year,Yes,No,No,No,No,No,No,Female,40-44,163.0,56.70,21.46,No,24.0,60.0,16.0,3.0
4,Within the past year,Yes,No,No,Yes,No,No,No,Male,55-59,185.0,95.25,27.71,Yes,28.0,30.0,30.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16038,Within the past year,Yes,No,No,No,No,No,No,Male,18-24,170.0,68.04,23.49,No,0.0,60.0,60.0,4.0
16039,5 or more years ago,No,No,No,No,No,No,No,Male,55-59,165.0,83.91,30.79,No,0.0,2.0,3.0,12.0
16040,Within the past year,No,No,No,No,Yes,No,No,Female,25-29,155.0,58.06,24.19,Yes,0.0,10.0,0.0,3.0
16041,Within the past year,Yes,No,No,No,No,No,Yes,Male,70-74,178.0,85.73,27.12,Yes,0.0,60.0,0.0,3.0
16042,Within the past 2 years,Yes,No,No,No,Yes,No,No,Male,18-24,170.0,72.57,25.06,Yes,20.0,7.0,30.0,6.0

In [369]:
num_cols = total.select_dtypes('number')
num_cols[:1]

,Height_(cm),Weight_(kg),BMI,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,168.0,77.11,27.44,1.0,12.0,4.0,4.0

- total 로 할 경우 fit_transform 을 쓰게 되면 test 데이터로도 학습이 진행되기에 데이터 누수가 발생함  
- 범주형의 경우 상관없음, fit 의 개념이 없기 때문, 하지만 test에 없는 범주가 생길 수 있음  
- train, test 따로 나누어 진행하는 것으로 다시  
- 처음부터 따로 한다면 후에 align 과정이 반드시 필요  
- train.align(test, join='left', fill_value=0, axis=1)  
- total 시에는 concat -> get_dummies() 이므로 align 불필요

In [408]:
from sklearn.metrics import f1_score

# 1. 데이터 로드
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/ep6_p2_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/ep6_p2_test.csv')

# target 분리
target = train['General_Health']
train.drop(columns=['General_Health'], inplace=True)

# 2. train/test 구분용 열 추가
train['source'] = 'train'
test['source'] = 'test'

# 3. 통합 (단순 결합만)
total = pd.concat([train, test], ignore_index=True).drop('ID', axis=1)
# total[:1]

# 4. 범주형 처리 (get_dummies 등)
cat_cols = total.select_dtypes(include='object').columns.drop(['source'])  # object형 중 'source' 제외
total = pd.get_dummies(total, columns=cat_cols)
# total[:1]

# 5. 다시 분리
train = total[total['source'] == 'train'].drop('source', axis=1)
test = total[total['source'] == 'test'].drop('source', axis=1)
# train[:1]
# test[:1]

# 6. 수치형 스케일링
num_cols = train.select_dtypes(include='number').columns

mms = MinMaxScaler()
train[num_cols] = mms.fit_transform(train[num_cols])
test[num_cols] = mms.transform(test[num_cols]) # test에는 fit 하면 안 됨, 데이터 누수
# train[:1]
# test[:1]

# ---------------------
# 학습
# ---------------------
X_train, X_val, y_train, y_val = train_test_split(train, target, test_size=0.2, random_state=42)
# X_train[:1]
# X_val[:1]
# y_train[:1]
# y_val[:1]

rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)
preds = rfc.predict(X_val)
preds

# 평가
f1 = f1_score(y_val, preds, average='macro')
print(f'f1 : {f1:.3f}')

# 예측
result = rfc.predict(test)
result[:1]

RandomForestClassifier()

array(['Fair', 'Fair', 'Good', ..., 'Good', 'Good', 'Excellent'],
      dtype=object)

f1 : 0.540

array(['Excellent'], dtype=object)

In [407]:
result_df = pd.DataFrame(result)
result_df.to_csv('result.csv', index=None)
result_r = pd.read_csv('result.csv')
result_r

              0
0     Excellent
1     Excellent
2     Excellent
3     Excellent
4     Excellent
...         ...
4808  Excellent
4809       Good
4810       Fair
4811       Good
4812  Excellent

[4813 rows x 1 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.ensemble import RandomForestClassifier
import numpy as np
y = train['General_Health']
x = train.drop(columns =['General_Health','ID'])
test_x = test.drop(columns =['ID'])


dum_x = pd.get_dummies(x)


# train에는 있고, test에는 없는 데이터 존재 컬럼숫자가 다름 -> reindex해줘야함
dum_test = pd.get_dummies(test_x)
dum_test = dum_test.reindex(columns = dum_x.columns, fill_value=0)



x_train,x_test,y_train,y_test = train_test_split(dum_x,y)


rr = RandomForestClassifier()
rr.fit(x_train,y_train)


pred = rr.predict(x_test)
print('test f1score', f1_score(y_test,pred,average='macro'))


pred_test = rr.predict(dum_test)

sumission = pd.DataFrame()
sumission['ID'] = test['ID']
sumission['price']  = pred_test
sumission.head()
# sumission.to_csv('00000000.csv',index=Fasle)

# 3 유형

### 3-1)

A 도시의 남성 600명과 여성 550명이 있다. 남성들 중 흡연자 비율은 0.2이며 여성들 중 흡연자 비율은 0.26이다.  
남성과 여성 간에 흡연 여부에 따른 인구 비율이 다른지 확인하고 싶다.  
유의 수준 0.05하 귀무가설에 대해 기각 / 채택 여부와 p-value값을 각각 출력하라

In [429]:
import pandas as pd

# 인원 수 정의
male_n = 600
female_n = 550

m_smoke_n = int(male_n * 0.2)     # 남성 흡연자
m_nsmoke_n = male_n - m_smoke_n   # 남성 비흡연자

f_smoke_n = int(female_n * 0.26)  # 여성 흡연자
f_nsmoke_n = female_n - f_smoke_n # 여성 비흡연자

# 데이터프레임 형태로 생성
df = pd.DataFrame({
    '흡연': [m_smoke_n, f_smoke_n],
    '비흡연': [m_nsmoke_n, f_nsmoke_n]    
}, index=['남성', '여성'])

# 출력
print(df)

import scipy.stats as stats
result = stats.chi2_contingency(df)
result

     흡연  비흡연
남성  120  480
여성  143  407

Chi2ContingencyResult(statistic=5.521247671393307, pvalue=0.018786854975740765, dof=1, expected_freq=array([[137.2173913, 462.7826087],
       [125.7826087, 424.2173913]]))

In [424]:
# 피벗
# 남성과 여성 개별 데이터 생성
male_data = pd.DataFrame({
    '성별': ['남성'] * 600,
    '흡연여부': ['흡연'] * 120 + ['비흡연'] * 480
})
male_data[:3]

female_data = pd.DataFrame({
    '성별': ['여성'] * 550,
    '흡연여부': ['흡연'] * 143 + ['비흡연'] * 407
})
female_data[:3]

# 하나로 합치기
df = pd.concat([male_data, female_data], ignore_index=True)
df[:3]

# 피벗 테이블로 교차표 생성
pivot_df = pd.pivot_table(df, index='성별', columns='흡연여부', aggfunc='size', fill_value=0)
pivot_df

# 카이 검정
import scipy.stats as stats
result = stats.chi2_contingency(pivot_df)
result

   성별 흡연여부
0  남성   흡연
1  남성   흡연
2  남성   흡연

   성별 흡연여부
0  여성   흡연
1  여성   흡연
2  여성   흡연

   성별 흡연여부
0  남성   흡연
1  남성   흡연
2  남성   흡연

흡연여부  비흡연   흡연
성별
남성    480  120
여성    407  143

In [440]:
import pandas as pd
import scipy.stats as stats

# 주어진 정보
male_n = 600
female_n = 550

m_smoke_n = int(male_n * 0.2)     # 남성 흡연자
m_nsmoke_n = male_n - m_smoke_n   # 남성 비흡연자

f_smoke_n = int(female_n * 0.26)  # 여성 흡연자
f_nsmoke_n = female_n - f_smoke_n # 여성 비흡연자

# ✅ 교차표 생성 (contingency table)
# 행: 성별 (남성, 여성), 열: 흡연 여부 (흡연, 비흡연)
data = [[m_smoke_n, m_nsmoke_n],
        [f_smoke_n, f_nsmoke_n]]
data

# ✅ 카이제곱 독립성 검정 수행
chi2, p, dof, expected = stats.chi2_contingency(data)

# ✅ 결과 출력
print(f'p-value: {p:.3f}')
if p < 0.05:
    print('귀무가설 기각: 남성과 여성 간 흡연 비율에 차이가 있다.')
else:
    print('귀무가설 채택: 남성과 여성 간 흡연 비율에 차이가 없다.')

[[120, 480], [143, 407]]

p-value: 0.019
귀무가설 기각: 남성과 여성 간 흡연 비율에 차이가 있다.

In [427]:
import scipy.stats as stats
result = stats.chi2_contingency(data)
result

Chi2ContingencyResult(statistic=5.521247671393307, pvalue=0.018786854975740765, dof=1, expected_freq=array([[137.2173913, 462.7826087],
       [125.7826087, 424.2173913]]))

In [434]:
result[1]

0.018786854975740765

In [438]:
result[1] <= 0.05 # True -> 유의하지 않다 -> 귀무가석 기각, 대립가설 채택

True

In [439]:
import numpy as np
from scipy.stats import chi2_contingency

# 남성과 여성의 인구 수
total_male = 600
total_female = 550

# 남성과 여성 중 흡연자의 비율
smoking_ratio_male = 0.2
smoking_ratio_female = 0.26

# 흡연자와 비흡연자의 인구 수 계산
smoking_male = int(total_male * smoking_ratio_male)
non_smoking_male = int(total_male - smoking_male)

smoking_female = total_female * smoking_ratio_female
non_smoking_female = total_female - smoking_female

# 데이터 배열 생성 (빈도로 변환)
data = np.array([[smoking_male, non_smoking_male], [smoking_female, non_smoking_female]])
data 

# 카이제곱 검정 수행
chi2_stat, p_val, dof, expected = chi2_contingency(data)

print('기각',p_val)

array([[120., 480.],
       [143., 407.]])

기각 0.018786854975740765

데이터 데이터 출처 : https://www.kaggle.com/datasets/hangawqadir/erbil-heart-disease-dataset  
데이터 url : https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/28/p7.csv    
연령, 몸무게,콜레스테롤 수치 데이터

In [441]:
import pandas as pd 
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/28/p7.csv')
df.head()

   age  Cholesterol  weight
0   65         69.0   111.0
1   54        117.0    81.0
2   61         86.2    72.0
3   57         76.0    78.0
4   62        160.0    61.0

In [443]:
df.info()
df.isnull().sum()
df.nunique()
df.describe()
df[:1]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          333 non-null    int64
 1   Cholesterol  333 non-null    float64
 2   weight       333 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 7.9 KB

age            0
Cholesterol    0
weight         0
dtype: int64

age             59
Cholesterol    154
weight          92
dtype: int64

              age  Cholesterol      weight
count  333.000000   333.000000  333.000000
mean    55.117117   112.926246   82.157357
std     14.159210    37.972983   15.392197
min     20.000000    26.000000   41.000000
25%     44.000000    86.200000   72.000000
50%     57.000000   110.000000   81.000000
75%     67.000000   137.000000   90.300000
max     90.000000   260.000000  134.000000

   age  Cholesterol  weight
0   65         69.0   111.0

### 3-2) age와 Cholesterol을 가지고 weight를 예측하는 선형 회귀 모델을 만들려고한다. age의 회귀 계수를 구하여라

In [451]:
import statsmodels.api as sm
X = df[['age', 'Cholesterol']]
X = sm.add_constant(X)
X[:1]
y = df['weight']
model = sm.OLS(y, X)
result = model.fit()
result.summary()

   const  age  Cholesterol
0    1.0   65         69.0

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 weight   R-squared:                       0.044
Model:                            OLS   Adj. R-squared:                  0.038
Method:                 Least Squares   F-statistic:                     7.574
Date:                Thu, 19 Jun 2025   Prob (F-statistic):           0.000608
Time:                        21:10:14   Log-Likelihood:                -1374.9
No. Observations:                 333   AIC:                             2756.
Df Residuals:                     330   BIC:                             2767.
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const          74.8953      4.455     16.813      0.000      66.132      83.658
age            -0.0361      0.059     -0.611      0.542      -0.152       0.080
Cholesterol     0.0819      0.022      3.716      0.000       0.039       0.125
==============================================================================
Omnibus:                       15.848   Durbin-Watson:                   2.033
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               17.569
Skew:                           0.471   Prob(JB):                     0.000153
Kurtosis:                       3.617   Cond. No.                         701.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [458]:
# dir(result)

In [455]:
result.params['age']

-0.0361016691438651

In [463]:
# dir(model)

In [465]:
model.coef_[0]

-0.03610166914386537

In [478]:
import pandas as pd
from sklearn.linear_model import LinearRegression

# 데이터 로드
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/28/p7.csv')

# 독립변수 (X)와 종속변수 (y) 정의
X = df[['age', 'Cholesterol']]
X
y = df['weight']
y

# 모델 훈련
model = LinearRegression()
model.fit(X, y)

# age의 회귀 계수 출력 (age는 X의 첫 번째 열)
print(f"age의 회귀 계수: {model.coef_[0]:.6f}")

     age  Cholesterol
0     65         69.0
1     54        117.0
2     61         86.2
3     57         76.0
4     62        160.0
..   ...          ...
328   46        111.0
329   42        164.0
330   51        116.0
331   45        102.0
332   68         92.0

[333 rows x 2 columns]

0      111.0
1       81.0
2       72.0
3       78.0
4       61.0
       ...
328     66.5
329     79.0
330     92.0
331     79.0
332     80.0
Name: weight, Length: 333, dtype: float64

LinearRegression()

age의 회귀 계수: -0.036102

In [487]:
import statsmodels.api as sm
X = sm.add_constant(df[['age', 'Cholesterol']]) 
model = sm.OLS(df['weight'], X)
results = model.fit()

# 전체 회귀 결과 출력
# print(results.summary())

print(results.params['age'])

-0.0361016691438651

### 3-3) age가 고정일 때 Cholesterol와 weight가 선형관계에 있다는 가설을 유의수준 0.05하에 검정하라

In [467]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 weight   R-squared:                       0.044
Model:                            OLS   Adj. R-squared:                  0.038
Method:                 Least Squares   F-statistic:                     7.574
Date:                Thu, 19 Jun 2025   Prob (F-statistic):           0.000608
Time:                        21:17:37   Log-Likelihood:                -1374.9
No. Observations:                 333   AIC:                             2756.
Df Residuals:                     330   BIC:                             2767.
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const          74.8953      4.455     16.813      0.000      66.132      83.658
age            -0.0361      0.059     -0.611      0.542      -0.152       0.080
Cholesterol     0.0819      0.022      3.716      0.000       0.039       0.125
==============================================================================
Omnibus:                       15.848   Durbin-Watson:                   2.033
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               17.569
Skew:                           0.471   Prob(JB):                     0.000153
Kurtosis:                       3.617   Cond. No.                         701.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [475]:
result.pvalues
pv = round(result.pvalues['Cholesterol'], 5)
pv

const          2.951249e-46
age            5.419233e-01
Cholesterol    2.377808e-04
dtype: float64

0.00024

In [477]:
pv <= 0.05 # 유의하지 않음 -> 선형관계에 있다

True

In [ ]:
H = results.pvalues['Cholesterol']

if H <0.05 : 
    print('선형 관계에 있다.')
    
else:
    print('선형 관계에 없다.')

### 3-4) age가 55, Cholesterol가 72.6일때 위 모델을 기반으로 weight값을 예측하라.

In [490]:
const = 1
age = 55
chol = 72.6
data = [const, age, chol]
res = result.predict(data)
res[0]

78.85771011344593

In [ ]:
pred = results.predict([1,55,72.6]) # const , age,Cholesterol
print(pred[0])