# 빅분기 실기 유형 1 연습

In [2]:
# 여러줄 출력 가능
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [4]:
# df.info()

In [38]:
# 1. 인기동영상 제작횟수가 많은 채널 상위 10개
top10 = df['channelTitle'].value_counts(ascending=False).head(10).reset_index()['channelTitle']
print(top10)

0                       짤툰
1                      파뿌리
2                    SPOTV
3          런닝맨 - 스브스 공식 채널
4    엠뚜루마뚜루 : MBC 공식 종합 채널
5                      장삐쭈
6                BANGTANTV
7                   채널 십오야
8                      이과장
9                      총몇명
Name: channelTitle, dtype: object

In [36]:
answer = list(df.loc[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique())
print(answer)

['장삐쭈', '총몇명', '파뿌리', '짤툰', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', 'SPOTV', '채널 십오야', '이과장', 'BANGTANTV']

In [42]:
top10 = df['channelTitle'].value_counts(ascending=False).head(10)
print(top10)
top10 = df['channelId'].value_counts(ascending=False).head(10)
print(top10)

channelTitle
짤툰                       372
파뿌리                      318
SPOTV                    318
런닝맨 - 스브스 공식 채널          313
엠뚜루마뚜루 : MBC 공식 종합 채널    293
장삐쭈                      283
BANGTANTV                275
채널 십오야                   274
이과장                      258
총몇명                      255
Name: count, dtype: int64
channelId
UCszFjh7CEfwDb7UUGb4RzCQ    372
UClzB2iZ5jPoTNz0S-QU6Wiw    318
UCtm_QoN2SIxwCE-59shX7Qg    318
UCaKod3X1Tn4c7Ci0iUKcvzQ    313
UCiwQRG2sCcfjKkgxMEdJGPg    293
UChbE5OZQ6dRHECsX0tEPEZQ    283
UCLkAepWjdylmXSltofFvsYQ    275
UCQ2O-iftmnlfrBuNsUUTofQ    274
UCtfriFvIe5gIe8wRWb8UTMg    258
UCRuSxVu4iqTK5kCh90ntAgA    255
Name: count, dtype: int64

In [46]:
df.head(2)

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01

In [71]:
df_u1 = df[['channelTitle', 'channelId']].drop_duplicates().channelId.value_counts()
df_u2 = df[['channelTitle', 'channelId']].drop_duplicates().channelTitle.value_counts()
df_u3 = df[['channelTitle', 'channelId']].channelTitle.value_counts()
df_u1
df_u2
df_u3

channelId
UCtQYhzJWFai1y30UIA3uwYQ    3
UC98TOxKQk4aLcx0EjIK0LkQ    3
UC4nEQI74rZkFKlUSwi0ur4A    2
UCn64fSqF2l4rkkjtQUpku2A    2
UCjO3ji06DxmTM1RrzLVwmkA    2
                           ..
UCuZu8NrpBG4WPXRi-hPBl-A    1
UCDrAR1OWC2MD4s0JLetN0MA    1
UCx2MVBsdTJ_sv0LiUpSQU2Q    1
UCu2R3TCLSxYV8pRyBGNOh2g    1
UCRCK5FCJtomQT3b88jXI_DA    1
Name: count, Length: 1770, dtype: int64

channelTitle
Various Artists - Topic    11
THE BOYZ                    2
운동준독                        1
channel CKOONY              1
쫀득TV                        1
                           ..
방송통신대학교&방송대학TV              1
KBS 같이삽시다                   1
달리 [SBS 교양 공식채널]            1
(MUTUBE)와꾸대장봉준              1
한국닌텐도 공식 채널                 1
Name: count, Length: 1832, dtype: int64

channelTitle
짤툰                       372
파뿌리                      318
SPOTV                    318
런닝맨 - 스브스 공식 채널          313
엠뚜루마뚜루 : MBC 공식 종합 채널    293
                        ...
NamSeok Byun               1
공원생활 / ParkLife            1
Brave Girls                1
깽냥툰 KY'T                   1
알파                         1
Name: count, Length: 1832, dtype: int64

In [97]:
df[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.drop_duplicates()
df[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique()
df[df.channelId.isin(df.channelId.value_counts().head(10).index)]['channelTitle'].drop_duplicates()

0                         장삐쭈
27                        총몇명
32                        파뿌리
76                         짤툰
100           런닝맨 - 스브스 공식 채널
125     엠뚜루마뚜루 : MBC 공식 종합 채널
192                     SPOTV
214                    채널 십오야
1219                      이과장
5204                BANGTANTV
Name: channelTitle, dtype: object

array(['장삐쭈', '총몇명', '파뿌리', '짤툰', '런닝맨 - 스브스 공식 채널',
       '엠뚜루마뚜루 : MBC 공식 종합 채널', 'SPOTV', '채널 십오야', '이과장', 'BANGTANTV'],
      dtype=object)

0                         장삐쭈
27                        총몇명
32                        파뿌리
76                         짤툰
100           런닝맨 - 스브스 공식 채널
125     엠뚜루마뚜루 : MBC 공식 종합 채널
192                     SPOTV
214                    채널 십오야
1219                      이과장
5204                BANGTANTV
Name: channelTitle, dtype: object

In [98]:
# 2. 논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [165]:
df[df['dislikes'] > df['likes']]['channelTitle'].value_counts()

channelTitle
양팡 YangPang                   44
Gen.G esports                 17
(MUTUBE)와꾸대장봉준                11
하얀트리HayanTree                 10
철구형 (CHULTUBE)                10
오메킴TV                         10
핫도그TV                          8
왜냐맨하우스                         8
육지담                            7
MapleStory_KR                  7
ROAD FIGHTING CHAMPIONSHIP     7
ASMR 애정TV                      2
사나이 김기훈                        1
나혼자산다 STUDIO                   1
Name: count, dtype: int64

In [166]:
df['dislikes'] > df['likes']

0        False
1        False
2        False
3        False
4        False
         ...
60394    False
60395    False
60396    False
60397    False
60398    False
Length: 60399, dtype: bool

In [115]:
df[df['channelId'].isin(df[df['dislikes'] > df['likes']]['channelId'].value_counts().index)].channelTitle.unique()

array(['나혼자산다 STUDIO', '사나이 김기훈', '핫도그TV', 'ASMR 애정TV', '하얀트리HayanTree',
       '(MUTUBE)와꾸대장봉준', '양팡 YangPang', '철구형 (CHULTUBE)', '왜냐맨하우스',
       '오메킴TV', '육지담', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP',
       'Gen.G esports'], dtype=object)

In [152]:
# 3. 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라
df[['channelTitle', 'channelId']].drop_duplicates().channelId.value_counts()

channelId
UCtQYhzJWFai1y30UIA3uwYQ    3
UC98TOxKQk4aLcx0EjIK0LkQ    3
UC4nEQI74rZkFKlUSwi0ur4A    2
UCn64fSqF2l4rkkjtQUpku2A    2
UCjO3ji06DxmTM1RrzLVwmkA    2
                           ..
UCuZu8NrpBG4WPXRi-hPBl-A    1
UCDrAR1OWC2MD4s0JLetN0MA    1
UCx2MVBsdTJ_sv0LiUpSQU2Q    1
UCu2R3TCLSxYV8pRyBGNOh2g    1
UCRCK5FCJtomQT3b88jXI_DA    1
Name: count, Length: 1770, dtype: int64

In [132]:
n_changed = df[['channelId', 'channelTitle']].drop_duplicates().groupby('channelId').size()
n_changed = (n_changed > 1).sum()
print(f"채널명을 바꾼 채널의 수: {n_changed}")

채널명을 바꾼 채널의 수: 71

In [183]:
re = df[['channelTitle', 'channelId']].drop_duplicates().channelId.value_counts()
re = re[re > 1].shape[0]
re

71

In [16]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns',50)
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv",encoding='latin',sep=';')
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,0.439,0.8,2.1,0.359,2.9,6.1,0.468,0.486,1.1,1.8,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,0.547,0.0,0.0,0.000,2.8,5.0,0.548,0.547,1.4,2.6,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,0.557,0.0,0.1,0.000,7.3,12.9,0.562,0.557,4.6,6.1,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,0.402,0.2,1.5,0.125,1.5,2.6,0.560,0.424,0.6,1.0,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,0.550,0.3,1.0,0.304,5.1,8.8,0.578,0.566,1.9,2.2,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

104. Tm 컬럼은 각 팀의 이름을 의미한다. TOR팀의 평균나이를 소수 4째 자리까지 구하여라

In [6]:
# df.info()
# df.Tm.info()
# df.Tm

In [20]:
tor_age = df[df.Tm == 'TOR'].Age.mean()
print(round(tor_age, 4))
print(np.round(tor_age, 4))

24.8696
24.8696

105. Pos 컬럼은 포지션을 의미한다. 전체 선수 중 최소나이대의 선수들을 필터하고 그들 중 가장 많은 포지션은 무엇인지 확인하라

In [35]:
df[df.index.isin(df.Player.drop_duplicates().index)].Age.sort_values() # 19

552    19
610    19
267    19
432    19
253    19
       ..
17     37
368    37
353    38
382    40
298    41
Name: Age, Length: 605, dtype: int64

In [37]:
df[df.Age == 19].Pos.value_counts() # SG

Pos
SG    9
PF    2
SF    1
C     1
Name: count, dtype: int64

106. 선수들의 이름은 first_name+ 공백 + last_name으로 이루어져 있다. 가장 많은 first_name은 무엇이며 몇 회 발생하는지 확인하라

In [72]:
df[['FirstName', 'LastName']] = df['Player'].str.split(' ', n=1, expand=True)
df.FirstName

0      Precious
1        Steven
2           Bam
3         Santi
4      LaMarcus
         ...
807    Thaddeus
808        Trae
809        Omer
810        Cody
811       Ivica
Name: FirstName, Length: 812, dtype: object

In [80]:
df['Player'].str.split().str[0].str.lower().value_counts().head(1)

Player
justin    14
Name: count, dtype: int64

107. PTS컬럼은 경기당 평균득점수 이다. 각포지션별로 경기당 평균득점수의 평균을 구하여라

In [81]:
df.groupby('Pos')['PTS'].mean()

Pos
C         7.690769
C-PF     12.850000
PF        7.737500
PF-SF     8.500000
PG        8.325161
PG-SG    22.000000
SF        7.270253
SF-SG     8.660000
SG        7.810553
SG-PG     9.525000
SG-SF     7.360000
Name: PTS, dtype: float64

109. G컬럼은 참여한 경기의 숫자이다. 각 팀별로 가장 높은 경기참여 수를 가진 선수들의 경기 참여 숫자의 평균을 구하여라

In [114]:
df[df.index.isin(df.groupby('Tm')['G'].idxmax())][['Player']].value_counts()
df.loc[df.groupby('Tm')['G'].idxmax()][['Player']].value_counts()

Player
Aaron Gordon         1
Herbert Jones        1
Saddiq Bey           1
Russell Westbrook    1
Patty Mills          1
Oshae Brissett       1
Miles Bridges        1
Mikal Bridges        1
Malik Beasley        1
Kevon Looney         1
Kevin Love           1
Kenyon Martin Jr.    1
Keldon Johnson       1
Jordan Clarkson      1
Jaren Jackson Jr.    1
Harrison Barnes      1
Alec Burks           1
Grant Williams       1
Georges Niang        1
Franz Wagner         1
Dwight Powell        1
Duncan Robinson      1
Deni Avdija          1
Delon Wright         1
Darius Bazley        1
Chris Boucher        1
Buddy Hield          1
Bobby Portis         1
Ben McLemore         1
Ayo Dosunmu          1
Terance Mann         1
Name: count, dtype: int64

Player
Aaron Gordon         1
Herbert Jones        1
Saddiq Bey           1
Russell Westbrook    1
Patty Mills          1
Oshae Brissett       1
Miles Bridges        1
Mikal Bridges        1
Malik Beasley        1
Kevon Looney         1
Kevin Love           1
Kenyon Martin Jr.    1
Keldon Johnson       1
Jordan Clarkson      1
Jaren Jackson Jr.    1
Harrison Barnes      1
Alec Burks           1
Grant Williams       1
Georges Niang        1
Franz Wagner         1
Dwight Powell        1
Duncan Robinson      1
Deni Avdija          1
Delon Wright         1
Darius Bazley        1
Chris Boucher        1
Buddy Hield          1
Bobby Portis         1
Ben McLemore         1
Ayo Dosunmu          1
Terance Mann         1
Name: count, dtype: int64

In [128]:
df.sort_values(['Tm','G'])
df.sort_values(['Tm','G']).groupby('Tm').tail(1)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,FirstName,LastName
570,426,Cameron Oliver,SF,25,ATL,2,0,21.5,5.0,7.5,0.667,0.5,1.5,0.333,4.5,6.0,0.750,0.700,1.0,1.5,0.667,1.0,2.0,3.0,1.5,0.5,0.5,0.0,2.5,11.5,Cameron,Oliver
37,30,Cat Barber,PG,27,ATL,3,0,4.3,0.0,1.3,0.000,0.0,0.0,0.000,0.0,1.3,0.000,0.000,0.0,1.3,0.000,0.3,0.7,1.0,1.0,0.0,0.0,0.3,0.3,0.0,Cat,Barber
91,74,Chaundee Brown Jr.,SG,23,ATL,3,2,27.7,3.0,8.3,0.360,2.0,5.0,0.400,1.0,3.3,0.300,0.480,1.7,2.0,0.833,0.3,4.3,4.7,1.3,0.7,0.0,0.0,2.3,9.7,Chaundee,Brown Jr.
316,240,Malcolm Hill,SG,26,ATL,3,0,15.3,1.7,2.7,0.625,1.0,1.7,0.600,0.7,1.0,0.667,0.813,1.3,1.3,1.000,0.7,1.3,2.0,0.3,1.3,0.3,0.0,2.3,5.7,Malcolm,Hill
357,267,Wes Iwundu,SF,27,ATL,3,1,27.3,2.7,6.0,0.444,1.0,1.7,0.600,1.7,4.3,0.385,0.528,1.0,1.3,0.750,1.0,3.3,4.3,0.0,0.3,0.0,0.3,2.7,7.3,Wes,Iwundu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549,407,Raul Neto,PG,29,WAS,70,19,19.6,2.9,6.3,0.463,0.5,1.7,0.292,2.4,4.6,0.526,0.502,1.2,1.5,0.769,0.2,1.7,1.9,3.1,0.8,0.0,1.1,1.5,7.5,Raul,Neto
241,181,Daniel Gafford,C,23,WAS,72,53,20.1,4.0,5.7,0.693,0.0,0.0,0.000,4.0,5.7,0.695,0.693,1.5,2.1,0.699,2.2,3.5,5.7,0.9,0.4,1.4,0.9,2.4,9.4,Daniel,Gafford
108,89,Kentavious Caldwell-Pope,SG,28,WAS,77,77,30.2,4.7,10.8,0.435,2.1,5.3,0.390,2.6,5.5,0.480,0.531,1.8,2.0,0.890,0.5,2.9,3.4,1.9,1.1,0.3,1.3,1.8,13.2,Kentavious,Caldwell-Pope
417,308,Corey Kispert,SF,22,WAS,77,36,23.4,3.0,6.7,0.455,1.5,4.2,0.350,1.6,2.5,0.629,0.564,0.7,0.8,0.871,0.7,2.0,2.7,1.1,0.5,0.3,0.6,1.2,8.2,Corey,Kispert
25,20,Deni Avdija,SF,21,WAS,82,8,24.2,3.0,7.1,0.432,1.0,3.2,0.317,2.0,3.9,0.525,0.503,1.3,1.7,0.757,0.6,4.5,5.2,2.0,0.7,0.5,1.1,2.3,8.4,Deni,Avdija

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,FirstName,LastName
799,597,Delon Wright,SG,29,ATL,77,8,18.9,1.6,3.5,0.454,0.6,1.5,0.379,1.0,2.0,0.510,0.535,0.7,0.8,0.857,0.6,2.2,2.9,2.4,1.2,0.2,0.6,0.7,4.4,Delon,Wright
785,585,Grant Williams,PF,23,BOS,77,21,24.4,2.7,5.6,0.475,1.4,3.4,0.411,1.3,2.3,0.569,0.597,1.1,1.2,0.905,0.8,2.7,3.6,1.0,0.5,0.7,0.8,2.4,7.8,Grant,Williams
509,379,Patty Mills,PG,33,BRK,81,48,29.0,4.0,9.8,0.408,2.8,7.0,0.400,1.2,2.8,0.429,0.551,0.6,0.7,0.814,0.2,1.7,1.9,2.3,0.6,0.2,0.9,1.4,11.4,Patty,Mills
180,143,Ayo Dosunmu,SG,22,CHI,77,40,27.4,3.6,6.9,0.520,0.9,2.4,0.376,2.7,4.5,0.596,0.585,0.7,1.0,0.679,0.4,2.4,2.8,3.3,0.8,0.4,1.4,2.4,8.8,Ayo,Dosunmu
78,67,Miles Bridges,PF,23,CHO,80,80,35.5,7.5,15.2,0.491,1.9,5.8,0.331,5.5,9.4,0.590,0.554,3.3,4.2,0.802,1.1,5.9,7.0,3.8,0.9,0.8,1.9,2.4,20.2,Miles,Bridges
461,339,Kevin Love,PF,33,CLE,74,4,22.5,4.4,10.3,0.430,2.5,6.4,0.392,1.9,3.8,0.493,0.553,2.2,2.7,0.838,1.2,6.1,7.2,2.2,0.4,0.2,1.3,1.4,13.6,Kevin,Love
605,457,Dwight Powell,C,30,DAL,82,71,21.9,3.3,4.9,0.671,0.2,0.5,0.351,3.1,4.4,0.703,0.687,2.0,2.6,0.783,2.1,2.8,4.9,1.2,0.5,0.5,0.8,2.7,8.7,Dwight,Powell
533,395,Monte Morris,PG,26,DEN,75,74,29.9,5.0,10.3,0.484,1.7,4.2,0.395,3.3,6.1,0.545,0.564,1.0,1.1,0.869,0.4,2.7,3.0,4.4,0.7,0.2,1.0,1.2,12.6,Monte,Morris
58,47,Saddiq Bey,SF,22,DET,82,82,33.0,5.5,13.9,0.396,2.6,7.4,0.346,2.9,6.4,0.454,0.489,2.6,3.1,0.827,1.3,4.1,5.4,2.8,0.9,0.2,1.2,1.6,16.1,Saddiq,Bey
455,335,Kevon Looney,C,25,GSW,82,80,21.1,2.5,4.4,0.571,0.0,0.0,0.000,2.5,4.4,0.573,0.571,0.9,1.5,0.600,2.5,4.7,7.3,2.0,0.6,0.6,0.8,2.6,6.0,Kevon,Looney
480,354,Kenyon Martin Jr.,SF,21,HOU,79,2,21.0,3.5,6.6,0.533,0.8,2.1,0.357,2.8,4.5,0.617,0.591,1.0,1.6,0.634,1.0,2.7,3.8,1.3,0.4,0.5,0.8,1.4,8.8,Kenyon,Martin Jr.
79,68,Oshae Brissett,SF,23,IND,67,25,23.3,3.1,7.6,0.411,1.2,3.5,0.350,1.9,4.0,0.465,0.493,1.7,2.4,0.695,1.6,3.7,5.3,1.1,0.7,0.4,0.8,1.7,9.1,Oshae,Brissett
470,346,Terance Mann,SF,25,LAC,81,33,28.6,4.1,8.5,0.484,0.9,2.6,0.365,3.2,6.0,0.535,0.539,1.6,2.0,0.780,1.3,4.0,5.2,2.6,0.7,0.3,1.0,2.2,10.8,Terance,Mann
774,576,Russell Westbrook,PG,33,LAL,78,78,34.3,7.0,15.8,0.444,1.0,3.4,0.298,6.0,12.4,0.485,0.476,3.4,5.1,0.667,1.4,6.0,7.4,7.1,1.0,0.3,3.8,3.0,18.5,Russell,Westbrook
360,270,Jaren Jackson Jr.,PF,22,MEM,78,78,27.3,5.5,13.3,0.415,1.6,5.1,0.319,3.9,8.1,0.476,0.477,3.6,4.4,0.823,1.5,4.3,5.8,1.1,0.9,2.3,1.7,3.5,16.3,Jaren,Jackson Jr.
630,476,Duncan Robinson,SG,27,MIA,79,68,25.9,3.7,9.2,0.399,2.9,7.9,0.372,0.7,1.3,0.569,0.559,0.6,0.8,0.836,0.3,2.3,2.6,1.6,0.5,0.2,0.8,2.5,10.9,Duncan,Robinson
600,454,Bobby Portis,C,26,MIL,72,59,28.2,5.8,12.1,0.479,1.8,4.7,0.393,3.9,7.4,0.533,0.555,1.2,1.6,0.752,2.5,6.6,9.1,1.2,0.7,0.7,1.3,2.4,14.6,Bobby,Portis
49,42,Malik Beasley,SG,25,MIN,79,18,25.0,4.2,10.8,0.391,3.0,8.1,0.377,1.2,2.7,0.432,0.532,0.6,0.8,0.817,0.3,2.5,2.9,1.5,0.5,0.2,0.5,1.1,12.1,Malik,Beasley
397,294,Herbert Jones,PF,23,NOP,78,69,29.9,3.5,7.4,0.476,0.7,2.2,0.337,2.8,5.2,0.533,0.525,1.8,2.1,0.840,1.3,2.5,3.8,2.1,1.7,0.8,1.3,3.1,9.5,Herbert,Jones
104,85,Alec Burks,SG,30,NYK,81,44,28.6,3.5,9.0,0.391,1.9,4.8,0.404,1.6,4.2,0.378,0.499,2.7,3.3,0.822,0.6,4.3,4.9,3.0,1.0,0.3,1.1,2.7,11.7,Alec,Burks
47,40,Darius Bazley,PF,21,OKC,69,53,27.9,4.0,9.4,0.422,1.2,3.9,0.297,2.8,5.5,0.511,0.484,1.7,2.5,0.688,1.0,5.3,6.3,1.4,0.8,1.0,1.3,1.0,10.8,Darius,Bazley
753,559,Franz Wagner,SF,20,ORL,79,79,30.7,5.8,12.3,0.468,1.2,3.4,0.354,4.6,8.9,0.511,0.517,2.4,2.8,0.863,1.1,3.4,4.5,2.9,0.9,0.4,1.5,2.1,15.2,Franz,Wagner
551,409,Georges Niang,PF,28,PHI,76,7,22.8,3.2,7.4,0.437,2.1,5.1,0.403,1.2,2.3,0.511,0.575,0.7,0.8,0.881,0.3,2.3,2.7,1.3,0.4,0.2,0.8,2.5,9.2,Georges,Niang
77,66,Mikal Bridges,SF,25,PHO,82,82,34.8,5.6,10.5,0.534,1.4,3.8,0.369,4.2,6.7,0.628,0.601,1.6,1.9,0.834,0.9,3.3,4.2,2.3,1.2,0.4,0.8,1.8,14.2,Mikal,Bridges
503,373,Ben McLemore,SG,28,POR,64,6,20.1,3.4,8.4,0.401,2.4,6.5,0.362,1.0,1.9,0.533,0.541,1.1,1.4,0.818,0.2,1.4,1.6,0.9,0.6,0.2,0.9,1.6,10.2,Ben,McLemore
38,31,Harrison Barnes,PF,29,SAC,77,77,33.6,5.1,10.8,0.469,1.8,4.7,0.394,3.2,6.2,0.525,0.554,4.4,5.4,0.826,1.1,4.5,5.6,2.4,0.7,0.2,1.5,1.2,16.4,Harrison,Barnes
383,286,Keldon Johnson,SF,22,SAS,75,74,31.9,6.3,13.5,0.466,2.1,5.3,0.398,4.2,8.2,0.510,0.545,2.4,3.1,0.756,1.1,5.0,6.1,2.1,0.8,0.2,1.2,2.0,17.0,Keldon,Johnson
72,61,Chris Boucher,PF,29,TOR,80,9,21.1,3.4,7.2,0.464,0.9,2.9,0.297,2.5,4.4,0.575,0.523,1.9,2.4,0.777,2.2,3.9,6.2,0.3,0.6,0.9,0.5,2.2,9.4,Chris,Boucher
310,237,Buddy Hield,SG,29,TOT,81,32,30.9,5.5,13.6,0.406,3.2,8.8,0.366,2.3,4.7,0.482,0.526,1.4,1.6,0.874,0.8,3.5,4.4,2.8,0.9,0.3,1.9,2.3,15.6,Buddy,Hield
132,107,Jordan Clarkson,SG,29,UTA,79,1,27.1,5.9,14.1,0.419,2.4,7.6,0.318,3.5,6.5,0.535,0.504,1.8,2.2,0.828,0.8,2.6,3.5,2.5,0.8,0.2,1.6,1.9,16.0,Jordan,Clarkson
25,20,Deni Avdija,SF,21,WAS,82,8,24.2,3.0,7.1,0.432,1.0,3.2,0.317,2.0,3.9,0.525,0.503,1.3,1.7,0.757,0.6,4.5,5.2,2.0,0.7,0.5,1.1,2.3,8.4,Deni,Avdija

111. Tm의 값이 MIA이며 Pos는 C또는 PF인 선수의 MP값의 평균은?

In [149]:
# 조건에 맞는 선수 필터링
filtered = df[(df['Tm'] == 'MIA') & (df['Pos'].isin(['C', 'PF']))]

# MP 평균 계산
avg_mp = filtered['MP'].mean()

print(avg_mp)

16.7875

112. Age의 평균 이상인 그룹과 평균 미만인 그룹간의 G값의 평균의 차이는?

In [163]:
df_avg = df.Age.mean()
df_avg

df1 = df[df.Age >= df_avg]
df1.head(1)

df2 = df[df.Age <= df_avg]
df2.head(1)

df_diff = df1.G.mean() - df2.G.mean()
df_diff

26.051724137931036

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,FirstName,LastName
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,0.547,0.0,0.0,0.0,2.8,5.0,0.548,0.547,1.4,2.6,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9,Steven,Adams

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,FirstName,LastName
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,0.439,0.8,2.1,0.359,2.9,6.1,0.468,0.486,1.1,1.8,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1,Precious,Achiuwa

3.787674551781862

113. 평균나이가 가장 젊은 팀은 어디인가

In [171]:
df.groupby('Tm')['Age'].mean().sort_values().index[0]

'MEM'

114. Pos그룹별 평균 MP값을 구하여라

In [174]:
df.groupby('Pos')['MP'].mean()

Pos
C        16.990000
C-PF     25.350000
PF       17.937500
PF-SF    27.300000
PG       19.547742
PG-SG    37.200000
SF       17.514557
SF-SG    20.340000
SG       18.554271
SG-PG    22.950000
SG-SF    19.620000
Name: MP, dtype: float64

# 유형 2

## 서비스 이탈예측 데이터

데이터 설명 : 고객의 신상정보 데이터를 통한 회사 서비스 이탈 예측 (종속변수 : Exited)  
x_train : https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_train.csv  
y_train : https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_train.csv  
x_test : https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_test.csv  
x_label(평가용) : https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_test.csv  
데이터 출처 : https://www.kaggle.com/shubh0799/churn-modelling 에서 변형

In [229]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_test.csv")

display(x_train.head())
display(y_train.head())

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,15799217,Zetticci,791,Germany,Female,35,7,52436.20,1,1,0,161051.75
1,15748986,Bischof,705,Germany,Male,42,8,166685.92,2,1,1,55313.51
2,15722004,Hsiung,543,France,Female,31,4,138317.94,1,0,0,61843.73
3,15780966,Pritchard,709,France,Female,32,2,0.00,2,0,0,109681.29
4,15636731,Ts'ai,714,Germany,Female,36,1,101609.01,2,1,1,447.73

   CustomerId  Exited
0    15799217       0
1    15748986       0
2    15722004       0
3    15780966       0
4    15636731       0

In [219]:
# x_train = x_train.drop('CustomerId', axis=1)
# x_train.shape
# x_test = x_test.drop('CustomerId', axis=1)
# x_test.shape
# y_train = y_train.drop('CustomerId', axis=1)
# y_train.shape

(6499, 11)

(3501, 11)

(6499, 1)

In [220]:
x_train.isnull().sum()
x_test.isnull().sum()
y_train.isnull().sum()

Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
dtype: int64

Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
dtype: int64

Exited    0
dtype: int64

In [221]:
x_train.shape
x_test.shape
y_train.shape

(6499, 11)

(3501, 11)

(6499, 1)

In [223]:
# from sklearn.model_selection import train_test_split
# from sklearn.ensemble import RandomForestClassifier

In [233]:
# x_train = pd.get_dummies(x_train)
# x_test = pd.get_dummies(x_test)
# x_test = x_test[x_train.columns]

KeyError: '[\'Surname_Abdulov\', \'Surname_Abel\', \'Surname_Abramov\', \'Surname_Abramowitz\', \'Surname_Achebe\', \'Surname_Afamefuna\', \'Surname_Afanasyev\', \'Surname_Afanasyeva\', \'Surname_Aguirre\', \'Surname_Ahern\', \'Surname_Ahmed\', \'Surname_Aiken\', \'Surname_Aikenhead\', \'Surname_Aksyonov\', \'Surname_Akubundu\', \'Surname_Akudinobi\', \'Surname_Alaniz\', \'Surname_Alderete\', \'Surname_Aldrich\', \'Surname_Aleshire\', \'Surname_Alexandrova\', \'Surname_Algarin\', \'Surname_Allard\', \'Surname_Alley\', \'Surname_Alleyne\', \'Surname_Allnutt\', \'Surname_Allsop\', \'Surname_Amies\', \'Surname_Amos\', \'Surname_Andersen\', \'Surname_Angel\', \'Surname_Ankudinova\', \'Surname_Ansell\', \'Surname_Anthony\', \'Surname_Aparicio\', \'Surname_Argyle\', \'Surname_Armfield\', \'Surname_Armstrong\', \'Surname_Arthur\', \'Surname_Ashbolt\', \'Surname_Asher\', \'Surname_Ashley\', \'Surname_Ashton\', \'Surname_Atherton\', \'Surname_Avdeev\', \'Surname_Ayers\', \'Surname_Azarov\', \'Surname_Baddeley\', \'Surname_Badgery\', \'Surname_Bagley\', \'Surname_Bair\', \'Surname_Balashova\', \'Surname_Ballard\', \'Surname_Balsillie\', \'Surname_Bancks\', \'Surname_Bancroft\', \'Surname_Barber\', \'Surname_Barbour\', \'Surname_Barclay\', \'Surname_Barlow\', \'Surname_Barnard\', \'Surname_Barrett\', \'Surname_Bartlett\', \'Surname_Barwell\', \'Surname_Basedow\', \'Surname_Bateman\', \'Surname_Batt\', \'Surname_Bayley\', \'Surname_Bazile\', \'Surname_Beach\', \'Surname_Beam\', \'Surname_Bearce\', \'Surname_Beatham\', \'Surname_Beavers\', \'Surname_Becher\', \'Surname_Beck\', \'Surname_Beede\', \'Surname_Beers\', \'Surname_Begg\', \'Surname_Beggs\', \'Surname_Belisario\', \'Surname_Bellew\', \'Surname_Belousov\', \'Surname_Belov\', \'Surname_Benjamin\', \'Surname_Bennet\', \'Surname_Bennett\', \'Surname_Bennetts\', \'Surname_Bibb\', \'Surname_Bidencope\', \'Surname_Bidwill\', \'Surname_Binder\', \'Surname_Birch\', \'Surname_Bird\', \'Surname_Birdsall\', \'Surname_Birk\', \'Surname_Biryukova\', \'Surname_Bischof\', \'Surname_Bitter\', \'Surname_Blackall\', \'Surname_Blacklock\', \'Surname_Blackwood\', \'Surname_Blakey\', \'Surname_Bledsoe\', \'Surname_Blinova\', \'Surname_Boag\', \'Surname_Boan\', \'Surname_Bocharova\', \'Surname_Bogdanov\', \'Surname_Bogdanova\', \'Surname_Bogle\', \'Surname_Bogolyubov\', \'Surname_Bogolyubova\', \'Surname_Bold\', \'Surname_Bolton\', \'Surname_Bond\', \'Surname_Bonham\', \'Surname_Boone\', \'Surname_Borchgrevink\', \'Surname_Bottrill\', \'Surname_Botts\', \'Surname_Boucaut\', \'Surname_Boulger\', \'Surname_Bovee\', \'Surname_Bowman\', \'Surname_Boyd\', \'Surname_Bozeman\', \'Surname_Brabyn\', \'Surname_Bracewell\', \'Surname_Bradbury\', \'Surname_Bradshaw\', \'Surname_Bremer\', \'Surname_Brenan\', \'Surname_Brewer\', \'Surname_Brient\', \'Surname_Briggs\', \'Surname_Brigstocke\', \'Surname_Brock\', \'Surname_Bromby\', \'Surname_Bronner\', \'Surname_Bruche\', \'Surname_Bruny\', \'Surname_Bryan\', \'Surname_Buckner\', \'Surname_Buddicom\', \'Surname_Builder\', \'Surname_Bunton\', \'Surname_Burdekin\', \'Surname_Burgos\', \'Surname_Burgoyne\', \'Surname_Burrows\', \'Surname_Burt\', \'Surname_Burtch\', \'Surname_Bushell\', \'Surname_Buttenshaw\', \'Surname_Butters\', \'Surname_Bykov\', \'Surname_Caffyn\', \'Surname_Cambage\', \'Surname_Campa\', \'Surname_Campos\', \'Surname_Candler\', \'Surname_Cantamessa\', \'Surname_Cantrell\', \'Surname_Carey\', \'Surname_Carlson\', \'Surname_Cary\', \'Surname_Cashin\', \'Surname_Castles\', \'Surname_Castro\', \'Surname_Catchpole\', \'Surname_Cavenagh\', \'Surname_Cavill\', \'Surname_Cawker\', \'Surname_Cawood\', \'Surname_Cayley\', \'Surname_Celis\', \'Surname_Chadwick\', \'Surname_Chamberlin\', \'Surname_Champion\', \'Surname_Chandler\', \'Surname_Charlton\', \'Surname_Chase\', \'Surname_Cheatham\', \'Surname_Chester\', \'Surname_Chiagoziem\', \'Surname_Chiazagomekpele\', \'Surname_Chidalu\', \'Surname_Chiebuka\', \'Surname_Chieloka\', \'Surname_Chigbogu\', \'Surname_Chijioke\', \'Surname_Childs\', \'Surname_Chill\', \'Surname_Chimaoke\', \'Surname_Chinwemma\', \'Surname_Chinwenma\', \'Surname_Chioke\', \'Surname_Chiwetelu\', \'Surname_Christian\', \'Surname_Chubb\', \'Surname_Chukwuebuka\', \'Surname_Chukwufumnanya\', \'Surname_Chukwujekwu\', \'Surname_Chukwukere\', \'Surname_Chukwuma\', \'Surname_Chukwunonso\', \'Surname_Chukwuraenye\', \'Surname_Chuter\', \'Surname_Clancy\', \'Surname_Clapp\', \'Surname_Clendinnen\', \'Surname_Cleveland\', \'Surname_Clifton\', \'Surname_Cobb\', \'Surname_Coburn\', \'Surname_Cockett\', \'Surname_Cockrum\', \'Surname_Coffey\', \'Surname_Coffman\', \'Surname_Cole\', \'Surname_Colebatch\', \'Surname_Coleman\', \'Surname_Collee\', \'Surname_Collingridge de Tourcey\', \'Surname_Colman\', \'Surname_Colon\', \'Surname_Connely\', \'Surname_Converse\', \'Surname_Conway\', \'Surname_Cookson\', \'Surname_Copeland\', \'Surname_Coppin\', \'Surname_Corbett\', \'Surname_Corby\', \'Surname_Corones\', \'Surname_Corran\', \'Surname_Corrie\', \'Surname_Coupp\', \'Surname_Cover\', \'Surname_Cowen\', \'Surname_Crace\', \'Surname_Craigie\', \'Surname_Cran\', \'Surname_Creel\', \'Surname_Cremin\', \'Surname_Creswell\', \'Surname_Cribb\', \'Surname_Crist\', \'Surname_Crocker\', \'Surname_Crotty\', \'Surname_Cullen\', \'Surname_Cyril\', "Surname_D\'Albertis", \'Surname_Dahlenburg\', \'Surname_Daigle\', \'Surname_Dalton\', \'Surname_Daly\', \'Surname_Dancy\', \'Surname_Darwin\', \'Surname_David\', \'Surname_Davila\', \'Surname_Davydova\', \'Surname_Dawkins\', \'Surname_De Bernales\', \'Surname_De Garis\', \'Surname_De Neeve\', \'Surname_Debellis\', \'Surname_Deleon\', \'Surname_Demaine\', \'Surname_Demuth\', \'Surname_Denisov\', \'Surname_Denisova\', \'Surname_Dennys\', \'Surname_Descoteaux\', \'Surname_Despeissis\', \'Surname_Dickson\', \'Surname_Dietz\', \'Surname_Diggs\', \'Surname_Dilibe\', \'Surname_Dilke\', \'Surname_Dillon\', \'Surname_Dipietro\', \'Surname_Disher\', \'Surname_Distefano\', \'Surname_Dixon\', \'Surname_Dobie\', \'Surname_Dodd\', \'Surname_Dodgshun\', \'Surname_Dominguez\', \'Surname_Donaghy\', \'Surname_Donahue\', \'Surname_Donoghue\', \'Surname_Downer\', \'Surname_Downie\', \'Surname_Drake\', \'Surname_Drake-Brockman\', \'Surname_Drakeford\', \'Surname_Dreyer\', \'Surname_Dufresne\', \'Surname_Duggan\', \'Surname_Dulhunty\', \'Surname_Dunbabin\', \'Surname_Dyson\', \'Surname_Eames\', \'Surname_Earl\', \'Surname_Earle\', \'Surname_Ebelechukwu\', \'Surname_Eberechukwu\', \'Surname_Edgar\', \'Surname_Edith\', \'Surname_Edman\', \'Surname_Edments\', \'Surname_Eiland\', \'Surname_Eipper\', \'Surname_Ekechukwu\', \'Surname_Elder\', \'Surname_Elewechi\', \'Surname_Elizabeth\', \'Surname_Elkins\', \'Surname_Elliott\', \'Surname_Elmore\', \'Surname_Enderby\', \'Surname_Enemuo\', \'Surname_Enriquez\', \'Surname_Eremenko\', \'Surname_Ermakova\', \'Surname_Eskridge\', \'Surname_Esomchi\', \'Surname_Espinosa\', \'Surname_Esquivel\', \'Surname_Estes\', \'Surname_Etheridge\', \'Surname_Eva\', \'Surname_Evdokimov\', \'Surname_Eve\', \'Surname_Everett\', \'Surname_Everingham\', \'Surname_Evseev\', \'Surname_Evseyev\', \'Surname_Ewing\', \'Surname_Fabro\', \'Surname_Fadden\', \'Surname_Fairley\', \'Surname_Fancher\', \'Surname_Fantin\', \'Surname_Farnsworth\', \'Surname_Farrar\', \'Surname_Faulk\', \'Surname_Faulkner\', \'Surname_Favors\', \'Surname_Fedorova\', \'Surname_Felix\', \'Surname_Fennescey\', \'Surname_Fenton\', \'Surname_Fermin\', \'Surname_Fernando\', \'Surname_Field\', \'Surname_Fink\', \'Surname_Fiore\', \'Surname_Fishbourne\', \'Surname_Fisher\', \'Surname_Fisk\', \'Surname_Fitch\', \'Surname_Fitts\', \'Surname_Fitzgerald\', \'Surname_Fitzpatrick\', \'Surname_Flannagan\', \'Surname_Flannery\', \'Surname_Fleetwood-Smith\', \'Surname_Flemming\', \'Surname_Flores\', \'Surname_Floyd\', \'Surname_Fokina\', \'Surname_Fokine\', \'Surname_Fomin\', \'Surname_Fomina\', \'Surname_Fontenot\', \'Surname_Foran\', \'Surname_Forlonge\', \'Surname_Forwood\', \'Surname_Foveaux\', \'Surname_Fox\', \'Surname_Foxall\', \'Surname_Franz\', \'Surname_Frater\', \'Surname_Frederickson\', \'Surname_Frye\', \'Surname_Fulks\', \'Surname_Fulton\', \'Surname_Fyans\', \'Surname_Gadsden\', \'Surname_Gadsdon\', \'Surname_Gaffney\', \'Surname_Galkin\', \'Surname_Galkina\', \'Surname_Gallo\', \'Surname_Gallop\', \'Surname_Gant\', \'Surname_Gardiner\', \'Surname_Gardner\', \'Surname_Garland\', \'Surname_Garmon\', \'Surname_Garnsey\', \'Surname_Gay\', \'Surname_Gearhart\', \'Surname_Gell\', \'Surname_Gentry\', \'Surname_Georg\', \'Surname_Gerald\', \'Surname_Gerasimova\', \'Surname_Gether\', \'Surname_Gibbs\', \'Surname_Gibney\', \'Surname_Gidney\', \'Surname_Gilchrist\', \'Surname_Gilleland\', \'Surname_Glasgow\', \'Surname_Glassman\', \'Surname_Glazkov\', \'Surname_Glennon\', \'Surname_Godson\', \'Surname_Goering\', \'Surname_Goforth\', \'Surname_Goloubev\', \'Surname_Golovanov\', \'Surname_Golubev\', \'Surname_Golubov\', \'Surname_Gomes\', \'Surname_Goold\', \'Surname_Gorbunova\', \'Surname_Gotch\', \'Surname_Gouger\', \'Surname_Gough\', \'Surname_Gow\', \'Surname_Gratton\', \'Surname_Greaves\', \'Surname_Greenhalgh\', \'Surname_Greenwalt\', \'Surname_Greenwood\', \'Surname_Greeves\', \'Surname_Gregson\', \'Surname_Gresswell\', \'Surname_Grieve\', \'Surname_Griffen\', \'Surname_Grosse\', \'Surname_Grover\', \'Surname_Groves\', \'Surname_Grubb\', \'Surname_Guerin\', \'Surname_Guerra\', \'Surname_Guidry\', \'Surname_Gunson\', \'Surname_Gunter\', \'Surname_Haddon\', \'Surname_Hagins\', \'Surname_Hales\', \'Surname_Hallahan\', \'Surname_Ham\', \'Surname_Hammer\', \'Surname_Hammonds\', \'Surname_Hampton\', \'Surname_Hand\', \'Surname_Hannam\', \'Surname_Hanson\', \'Surname_Hardacre\', \'Surname_Hardiman\', \'Surname_Hare\', \'Surname_Harewood\', \'Surname_Hargrave\', \'Surname_Hargreaves\', \'Surname_Harper\', \'Surname_Harrell\', \'Surname_Harrington\', \'Surname_Hassall\', \'Surname_Haugh\', \'Surname_Hawdon\', \'Surname_Hayden\', \'Surname_Hayes\', \'Surname_Hayes-Williams\', \'Surname_Haynes\', \'Surname_Hayslett\', \'Surname_Hazon\', \'Surname_Heap\', \'Surname_Heard\', \'Surname_Hearn\', \'Surname_Helena\', \'Surname_Heller\', \'Surname_Hendrick\', \'Surname_Henning\', \'Surname_Herz\', \'Surname_Hess\', \'Surname_Hickey\', \'Surname_Hicks\', \'Surname_Higgins\', \'Surname_Highett\', \'Surname_Highland\', \'Surname_Hightower\', \'Surname_Hingston\', \'Surname_Hixson\', \'Surname_Hobbs\', \'Surname_Hobler\', \'Surname_Hobson\', \'Surname_Hodge\', \'Surname_Hodgson\', \'Surname_Hoelscher\', \'Surname_Holmwood\', \'Surname_Hope\', \'Surname_Hopetoun\', \'Surname_Hopkins\', \'Surname_Hopwood\', \'Surname_Horan\', \'Surname_Hornung\', \'Surname_Horsfall\', \'Surname_Horsley\', \'Surname_Hort\', \'Surname_Horton\', \'Surname_Houghton\', \'Surname_Hovell\', \'Surname_Howe\', \'Surname_Howell\', \'Surname_Howey\', \'Surname_Huddart\', \'Surname_Huguley\', \'Surname_Huie\', \'Surname_Humphreys\', \'Surname_Humphries\', \'Surname_Hurst\', \'Surname_Hussain\', \'Surname_Hussey\', \'Surname_Hutcheon\', \'Surname_Hysell\', \'Surname_Ibbott\', \'Surname_Ibeamaka\', \'Surname_Ibekwe\', \'Surname_Ibragimova\', \'Surname_Ifeanyichukwu\', \'Surname_Ignatyev\', \'Surname_Ignatyeva\', \'Surname_Illingworth\', \'Surname_Iloabuchi\', \'Surname_Ilyina\', \'Surname_Ingamells\', \'Surname_Ingle\', \'Surname_Ingrassia\', \'Surname_Inman\', \'Surname_Iqbal\', \'Surname_Ireland\', \'Surname_Isaacs\', \'Surname_Isayeva\', \'Surname_Izmailov\', \'Surname_Izuchukwu\', \'Surname_Jamison\', \'Surname_Jara\', \'Surname_Jefferies\', \'Surname_Jefferson\', \'Surname_Jensen\', \'Surname_Jerger\', \'Surname_Jessop\', \'Surname_Jimenez\', \'Surname_John\', \'Surname_Jolly\', \'Surname_Jonathan\', \'Surname_Jose\', \'Surname_Joseph\', \'Surname_Joshua\', \'Surname_Jowers\', \'Surname_Judd\', \'Surname_Justice\', \'Surname_Kaleski\', \'Surname_Kalinin\', \'Surname_Kamdibe\', \'Surname_Kapustina\', \'Surname_Kashiwagi\', \'Surname_Kauffmann\', \'Surname_Kazakova\', \'Surname_Kazantsev\', \'Surname_Keeley\', \'Surname_Kegley\', \'Surname_Keldie\', \'Surname_Kelley\', \'Surname_Kellway\', \'Surname_Kendall\', \'Surname_Kenechi\', \'Surname_Kenechukwu\', \'Surname_Kentish\', \'Surname_Kenyon\', \'Surname_Kepley\', \'Surname_Kesteven\', \'Surname_Kharitonova\', \'Surname_Kharlamov\', \'Surname_Kilgour\', \'Surname_Kincaid\', \'Surname_Kinder\', \'Surname_Kingsley\', \'Surname_Kinlaw\', \'Surname_Kinney\', \'Surname_Kirillova\', \'Surname_Kirk\', \'Surname_Kirkland\', \'Surname_Kirsova\', \'Surname_Kirwan\', \'Surname_Kisch\', \'Surname_Kistler\', \'Surname_Knipe\', \'Surname_Knorr\', \'Surname_Knox\', \'Surname_Knupp\', \'Surname_Koch\', \'Surname_Koehler\', \'Surname_Koger\', \'Surname_Komar\', \'Surname_Komarova\', \'Surname_Korovin\', \'Surname_Kosisochukwu\', \'Surname_Kosovich\', \'Surname_Kovaleva\', \'Surname_Kovalyov\', \'Surname_Kramer\', \'Surname_Krischock\', \'Surname_Krylov\', \'Surname_Kryukova\', \'Surname_Kudryashova\', \'Surname_Kuykendall\', \'Surname_Kuznetsova\', \'Surname_Lablanc\', \'Surname_Lacross\', \'Surname_Lajoie\', \'Surname_Lambie\', \'Surname_Lamble\', \'Surname_Lampungmeiua\', \'Surname_Landman\', \'Surname_Landor\', \'Surname_Landry\', \'Surname_Laney\', \'Surname_Lanford\', \'Surname_Lang\', \'Surname_Lange\', \'Surname_Langlands\', \'Surname_Langler\', \'Surname_Larsen\', \'Surname_Larson\', \'Surname_Lassetter\', \'Surname_Lattimore\', \'Surname_Laurens\', \'Surname_Laurie\', \'Surname_Lavarack\', \'Surname_Lavine\', \'Surname_Lavrentyev\', \'Surname_Lawless\', \'Surname_Lawley\', \'Surname_Layh\', \'Surname_Leach\', \'Surname_Leak\', \'Surname_Lear\', \'Surname_Learmonth\', \'Surname_Leason\', \'Surname_Lederer\', \'Surname_Ledford\', \'Surname_Leibius\', \'Surname_Lennox\', \'Surname_Levi\', \'Surname_Levien\', \'Surname_Levy\', \'Surname_Leworthy\', \'Surname_Liardet\', \'Surname_Liebe\', \'Surname_Light\', \'Surname_Lim\', \'Surname_Lindell\', \'Surname_Lindeman\', \'Surname_Lindsay\', \'Surname_Lira\', \'Surname_Liston\', \'Surname_Loane\', \'Surname_Lockyer\', \'Surname_Loftus\', \'Surname_Loginov\', \'Surname_Logue\', \'Surname_Long\', \'Surname_Longstaff\', \'Surname_Lord\', \'Surname_Lorenzen\', \'Surname_Louis\', \'Surname_Lovely\', \'Surname_Lowell\', \'Surname_Lowrie\', \'Surname_Loyau\', \'Surname_Ludowici\', \'Surname_Lueck\', \'Surname_Luffman\', \'Surname_Lujan\', \'Surname_Lynton\', \'Surname_Lyons\', \'Surname_MacDonnell\', \'Surname_Macadam\', \'Surname_Macarthur\', \'Surname_Macdonald\', \'Surname_Macfarlan\', \'Surname_Macgroarty\', \'Surname_Mach\', \'Surname_Mack\', \'Surname_Mackinlay\', \'Surname_Macknight\', \'Surname_Macnamara\', \'Surname_Maconochie\', \'Surname_Madison\', \'Surname_Maduabuchim\', \'Surname_Madukaego\', \'Surname_Maggard\', \'Surname_Maher\', \'Surname_Mahomed\', \'Surname_Mairinger\', \'Surname_Major\', \'Surname_Mamelu\', \'Surname_Manners\', \'Surname_Mansom\', \'Surname_Marcus\', \'Surname_Mario\', \'Surname_Marshall-Hall\', \'Surname_Martinez\', \'Surname_Maruff\', \'Surname_Mashman\', \'Surname_Matlock\', \'Surname_Matthias\', \'Surname_Matveyeva\', \'Surname_Mauldon\', \'Surname_Mault\', \'Surname_Maurer\', \'Surname_Maxwell\', \'Surname_Mayne\', \'Surname_Mayrhofer\', \'Surname_Mazure\', \'Surname_Mbanefo\', \'Surname_McBurney\', \'Surname_McCane\', \'Surname_McCardle\', \'Surname_McCartney\', \'Surname_McCawley\', \'Surname_McClinton\', \'Surname_McDaniels\', \'Surname_McDowell\', \'Surname_McElyea\', \'Surname_McEncroe\', \'Surname_McEwan\', \'Surname_McGill\', \'Surname_McGuigan\', \'Surname_McGuirk\', \'Surname_McIver\', \'Surname_McKelvey\', \'Surname_McKinley\', \'Surname_McLachlan\', \'Surname_McMasters\', \'Surname_McMinn\', \'Surname_McMorran\', \'Surname_McNaughtan\', \'Surname_McNeil\', \'Surname_McVey\', \'Surname_Mead\', \'Surname_Meagher\', \'Surname_Meany\', \'Surname_Medland\', \'Surname_Medvedev\', \'Surname_Meldrum\', \'Surname_Melendez\', \'Surname_Mello\', \'Surname_Menhennitt\', \'Surname_Menkens\', \'Surname_Meredith\', \'Surname_Merrett\', \'Surname_Metcalf\', \'Surname_Micco\', \'Surname_Michel\', \'Surname_Michelides\', \'Surname_Micklem\', \'Surname_Middleton\', \'Surname_Miles\', \'Surname_Milligan\', \'Surname_Milliner\', \'Surname_Miracle\', \'Surname_Mironov\', \'Surname_Mishina\', \'Surname_Mitchel\', \'Surname_Moen\', \'Surname_Molineux\', \'Surname_Molle\', \'Surname_Mollison\', \'Surname_Monds\', \'Surname_Montague\', \'Surname_Montalvo\', \'Surname_Montes\', \'Surname_Morales\', \'Surname_More\', \'Surname_Moreno\', \'Surname_Moretti\', \'Surname_Morin\', \'Surname_Morley\', \'Surname_Mort\', \'Surname_Morton\', \'Surname_Moseley\', \'Surname_Mott\', \'Surname_Mouzon\', \'Surname_Moyes\', \'Surname_Muecke\', \'Surname_Muldrow\', \'Surname_Mullah\', \'Surname_Mullan\', \'Surname_Mullawirraburka\', \'Surname_Mundy\', \'Surname_Munroe\', \'Surname_Munz\', \'Surname_Muramats\', \'Surname_Muriel\', \'Surname_Muse\', \'Surname_Musgrove\', \'Surname_Nagy\', \'Surname_Nakayama\', \'Surname_Namatjira\', \'Surname_Naquin\', \'Surname_Narelle\', \'Surname_Navarrete\', \'Surname_Nazarova\', \'Surname_Ndukaku\', \'Surname_Neal\', \'Surname_Nebeuwa\', \'Surname_Neitenstein\', \'Surname_Nero\', \'Surname_Neumann\', \'Surname_Nevels\', \'Surname_Newbery\', \'Surname_Newbold\', \'Surname_Newman\', \'Surname_Newton\', \'Surname_Nickson\', \'Surname_Nicolay\', \'Surname_Nicoll\', \'Surname_Niehaus\', \'Surname_Nielson\', \'Surname_Nkemdirim\', \'Surname_Nnabuife\', \'Surname_Nnanna\', \'Surname_Nolan\', \'Surname_Norriss\', \'Surname_Nwachinemelu\', \'Surname_Nwagugheuzo\', \'Surname_Nweke\', \'Surname_Nwokezuike\', \'Surname_Nwokike\', \'Surname_Nworie\', \'Surname_Nwoye\', \'Surname_Nyhan\', "Surname_O\'Callaghan", "Surname_O\'Loghlen", "Surname_O\'Loughlin", "Surname_O\'Meara", "Surname_O\'Neill", "Surname_O\'Toole", \'Surname_Obiora\', \'Surname_Ochoa\', \'Surname_Odell\', \'Surname_Odili\', \'Surname_Ogbonnaya\', \'Surname_Ogg\', \'Surname_Ogle\', \'Surname_Ohearn\', \'Surname_Okagbue\', \'Surname_Okoli\', \'Surname_Okorie\', \'Surname_Okwukwe\', \'Surname_Olague\', \'Surname_Olszewski\', \'Surname_Oluchi\', \'Surname_Onodugoadiegbemma\', \'Surname_Onuoha\', \'Surname_Onwuamaegbu\', \'Surname_Onwubiko\', \'Surname_Onwudiwe\', \'Surname_Onyemaechi\', \'Surname_Onyenachiya\', \'Surname_Osorio\', \'Surname_Otitodilichukwu\', \'Surname_Otitodilinna\', \'Surname_Otoole\', \'Surname_Otutodilichukwu\', \'Surname_Outhwaite\', \'Surname_Overby\', \'Surname_Ozoemena\', \'Surname_Packham\', \'Surname_Pagan\', \'Surname_Palazzi\', \'Surname_Paling\', \'Surname_Palmerston\', \'Surname_Panicucci\', \'Surname_Paramor\', \'Surname_Parkinson\', \'Surname_Parks\', \'Surname_Parrott\', \'Surname_Parry-Okeden\', \'Surname_Patel\', \'Surname_Patrick\', \'Surname_Payton\', \'Surname_Pease\', \'Surname_Peavy\', \'Surname_Peck\', \'Surname_Pendred\', \'Surname_Pepper\', \'Surname_Peppin\', \'Surname_Percy\', \'Surname_Perreault\', \'Surname_Perrodin\', \'Surname_Persse\', \'Surname_Pettit\', \'Surname_Pettry\', \'Surname_Peyser\', \'Surname_Pham\', \'Surname_Pharr\', \'Surname_Phelps\', \'Surname_Philipp\', \'Surname_Pike\', \'Surname_Pirogov\', \'Surname_Pitcher\', \'Surname_Pitts\', \'Surname_Plant\', \'Surname_Plascencia\', \'Surname_Pokrovskaya\', \'Surname_Pollard\', \'Surname_Polyakov\', \'Surname_Pomeroy\', \'Surname_Poninski\', \'Surname_Porter\', \'Surname_Pottinger\', \'Surname_Priestley\', \'Surname_Pritchard\', \'Surname_Pruneda\', \'Surname_Purdy\', \'Surname_Pye\', \'Surname_Quaife\', \'Surname_Quesada\', \'Surname_Quezada\', \'Surname_Quinn\', \'Surname_Quinones\', \'Surname_Raff\', \'Surname_Ramsbotham\', \'Surname_Randall\', \'Surname_Randell\', \'Surname_Randolph\', \'Surname_Rapuluchukwu\', \'Surname_Rapuokwu\', \'Surname_Ratten\', \'Surname_Rawlings\', \'Surname_Raymond\', \'Surname_Raynor\', \'Surname_Real\', \'Surname_Rearick\', \'Surname_Rechner\', \'Surname_Redding\', \'Surname_Reed\', \'Surname_R

In [234]:
x_train.shape
x_test.shape

(6499, 2305)

(3501, 1704)

In [230]:

drop_col = ['CustomerId','Surname']
x_train_drop = x_train.drop(columns = drop_col)
x_test_drop = x_test.drop(columns = drop_col)

# import sklearn
# print(sklearn.__all__)
# import sklearn.model_selection
# print(dir(sklearn.model_selection))

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
x_train_dummies = pd.get_dummies(x_train_drop)
y = y_train['Exited']


x_test_dummies = pd.get_dummies(x_test_drop)
# train과 컬럼 순서 동일하게 하기 (더미화 하면서 순서대로 정렬을 이미 하기 때문에 오류가 난다면 해당 컬럼이 누락된것)
x_test_dummies = x_test_dummies[x_train_dummies.columns]
# print(help(train_test_split))

# 유형 3

제공된 데이터(bcc.csv)는 암 환자와 정상인의 리지스틴 수치에 대한 자료이며,  
두 집단의 로그 리지스틴 값에 차이가 있는지를 검정하려고 한다.  
소문항별로 답을 구한 후, 구한 답을 제시된 [제출 형식]에 맞춰 답안 제출 페이지에 입력하시오. (단, 모델은 절편항을 포함한다.)

In [235]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/refs/heads/master/krdatacertificate/s1.csv')
df.head()

   Resistin  Classification
0   7.99585               1
1   4.06405               1
2   9.27715               1
3  12.76600               1
4  10.57635               1

1-1) 두 집단의 로그 리지스틴 값의 분산에 차이가 있는지를 알아보기 위해
F-검정을 수행할 때 검정통계량의 값을 구하여라.
(단, 분자의 자유도가 분모의 자유도보다 크도록 하여라. 반올림하여 소수 셋째 자리까지 작성)

In [236]:
import numpy as np
cls_1 = df[df['Classification'] == 1]['Resistin']
cls_2 = df[df['Classification'] == 2]['Resistin']

cls_1_log = np.log(cls_1)
cls_2_log = np.log(cls_2)

cls_1_var = np.var(cls_1_log, ddof=1)
cls_2_var = np.var(cls_2_log, ddof=1)

if cls_1_var > cls_2_var:
    f_stat = cls_1_var / cls_2_var
else:
    f_stat = cls_2_var / cls_1_var
    
round_result = round(f_stat, 3)
print(round_result)

1.348

1-2) 두 집단의 로그 리지스틴 값에 대한 합동 분산 추정량을 구하여라.
반올림하여 소수 셋째 자리까지 작성

In [238]:
n1 = len(cls_1)
n2 = len(cls_2)

var_pooled = ((n1-1)*cls_1_var + (n2-1)*cls_2_var) / (n1+n2-2)
print(round(var_pooled, 3))

0.449

1-3) 2번 문제에서 구한 합동 분산 추정량을 이용하여 두 집단의 로그 리지스틴 값에 유의미한 차이가 있는지 독립표본 t-검정을 수행하고 p-값을 구하여라. (반올림하여 소수 셋째 자리까지 작성)

In [247]:
from scipy import stats

m1 = cls_1_log.mean()
m2 = cls_2_log.mean()

se = var_pooled*(1/n1 + 1/n2)
t_stat = (m1-m2) / np.sqrt(se)
p_v = 2*(1-stats.t.cdf(abs(t_stat), df=n1+n2-2))
print(round(p_v, 3))



print(stats.ttest_ind(cls_1_log, cls_2_log)[1])

0.003
0.0030392269431433142